In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_csv('cleaned_latest_movies.csv')

In [3]:
df.shape

(4625, 8)

In [4]:
df.duplicated().sum()

0

In [5]:
df.columns

Index(['Unnamed: 0', 'id', 'title', 'overview', 'release_date', 'popularity',
       'vote_average', 'vote_count'],
      dtype='object')

In [6]:
df.duplicated(subset = ['title', 'overview', 'release_date', 'popularity',
       'vote_average', 'vote_count']).sum()

0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4625 entries, 0 to 4624
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4625 non-null   int64
 1   id            4625 non-null   object
 2   title         4625 non-null   object
 3   overview      3817 non-null   object
 4   release_date  4592 non-null   object
 5   popularity    4606 non-null   float64
 6   vote_average  4625 non-null   float64
 7   vote_count    4625 non-null   int64
dtypes: float64(2), int64(2), object(4)
memory usage: 289.2+ KB

In [8]:
pd.DataFrame({'count': df.isna().sum(), 'percent': df.isna().sum()/len(df)})

              count   percent
Unnamed: 0        0  0.000000
id                0  0.000000
title             0  0.000000
overview        808  0.174703
release_date     33  0.007135
popularity       19  0.004108
vote_average      0  0.000000
vote_count        0  0.000000

In [9]:
4704 - 4625

79

In [10]:
df[df.overview.isna()]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
93,94,1087421,Odio el verano,NaN,2024-08-23,86.451,6.5,2
189,191,1230477,Given The Movie : Hiiragi Mix,NaN,2024-01-27,37.150,0.0,0
226,229,997086,My Next Life as a Villainess: All Routes Lead ...,NaN,2023-12-08,40.545,7.7,5
294,297,1352344,Anima Kronos,NaN,2024-09-21,15.280,0.0,0
305,308,1352843,Olli,NaN,2024-09-22,23.653,0.0,0
...,...,...,...,...,...,...,...,...
4593,4666,1360236,Toms romantiska resa,NaN,2024-09-22,1.400,0.0,0
4598,4671,1360180,Shelpek,NaN,2024-09-23,1.400,0.0,0
4602,4675,1360101,Der Irland-Krimi: Gnadentod,NaN,2024-09-19,1.400,0.0,0
4612,4685,1359989,"Jean-Louis Aubert, le chant des possibles",NaN,2024-09-23,1.400,8.0,1
4613,4686,1359978,Dolors,NaN,2024-09-21,1.400,0.0,0

In [11]:
df[(df.overview.isna()) & (df.vote_count == 0) & (df.vote_average == 0) ]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
189,191,1230477,Given The Movie : Hiiragi Mix,NaN,2024-01-27,37.150,0.0,0
294,297,1352344,Anima Kronos,NaN,2024-09-21,15.280,0.0,0
305,308,1352843,Olli,NaN,2024-09-22,23.653,0.0,0
319,322,1234667,Walking Woman,NaN,2024-09-21,14.388,0.0,0
320,323,1317276,Given The Movie : Umi e,NaN,2024-09-20,19.146,0.0,0
...,...,...,...,...,...,...,...,...
4591,4664,1360239,Chilla Filip!,NaN,2024-09-22,1.400,0.0,0
4593,4666,1360236,Toms romantiska resa,NaN,2024-09-22,1.400,0.0,0
4598,4671,1360180,Shelpek,NaN,2024-09-23,1.400,0.0,0
4602,4675,1360101,Der Irland-Krimi: Gnadentod,NaN,2024-09-19,1.400,0.0,0
4613,4686,1359978,Dolors,NaN,2024-09-21,1.400,0.0,0

In [12]:
df['popularity'].describe()

count    4606.000000
mean       14.551270
std        94.621121
min         0.001000
25%         1.400000
50%         2.564000
75%         5.463000
max      4065.642000
Name: popularity, dtype: float64

In [14]:
df[df['popularity'] == 4065.642000].to_dict()

{'Unnamed: 0': {0: 0},
 'id': {0: '957452'},
 'title': {0: 'The Crow'},
 'overview': {0: 'Soulmates Eric and Shelly are brutally murdered when the demons of her dark past catch up with them. Given the chance to save his true love by sacrificing himself, Eric sets out to seek merciless revenge on their killers, traversing the worlds of the living and the dead to put the wrong things right.'},
 'release_date': {0: '2024-08-21'},
 'popularity': {0: 4065.642},
 'vote_average': {0: 5.314},
 'vote_count': {0: 287}}

In [13]:
df[(df.overview.isna()) & (df.vote_count == 0) & (df.vote_average == 0) ]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
189,191,1230477,Given The Movie : Hiiragi Mix,NaN,2024-01-27,37.150,0.0,0
294,297,1352344,Anima Kronos,NaN,2024-09-21,15.280,0.0,0
305,308,1352843,Olli,NaN,2024-09-22,23.653,0.0,0
319,322,1234667,Walking Woman,NaN,2024-09-21,14.388,0.0,0
320,323,1317276,Given The Movie : Umi e,NaN,2024-09-20,19.146,0.0,0
...,...,...,...,...,...,...,...,...
4591,4664,1360239,Chilla Filip!,NaN,2024-09-22,1.400,0.0,0
4593,4666,1360236,Toms romantiska resa,NaN,2024-09-22,1.400,0.0,0
4598,4671,1360180,Shelpek,NaN,2024-09-23,1.400,0.0,0
4602,4675,1360101,Der Irland-Krimi: Gnadentod,NaN,2024-09-19,1.400,0.0,0
4613,4686,1359978,Dolors,NaN,2024-09-21,1.400,0.0,0

In [14]:
df[(df.overview.isna()) & (df.vote_count == 0) & (df.vote_average == 0) & (df.popularity<2)]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
2192,2212,1340977,Dernière Tribune,NaN,2024-08-16,1.895,0.0,0
2196,2216,1301892,Apartamento de Duas,NaN,2024-08-25,1.890,0.0,0
2204,2224,1327735,Pacifica.,NaN,2024-08-29,1.882,0.0,0
2215,2235,1341648,Ce qui se voit et ce qui ne se voit pas,NaN,2024-09-04,1.871,0.0,0
2231,2251,1338351,掟,NaN,2024-08-30,1.852,0.0,0
...,...,...,...,...,...,...,...,...
4591,4664,1360239,Chilla Filip!,NaN,2024-09-22,1.400,0.0,0
4593,4666,1360236,Toms romantiska resa,NaN,2024-09-22,1.400,0.0,0
4598,4671,1360180,Shelpek,NaN,2024-09-23,1.400,0.0,0
4602,4675,1360101,Der Irland-Krimi: Gnadentod,NaN,2024-09-19,1.400,0.0,0
4613,4686,1359978,Dolors,NaN,2024-09-21,1.400,0.0,0

In [19]:
dff = df.copy()

In [20]:
ind = dff[(dff.overview.isna()) & (dff.vote_count == 0) & (dff.vote_average == 0) & (dff.popularity<2)].index.tolist()

for i in ind:
    dff.drop(i, inplace=True)

In [22]:
df.shape, dff.shape

((4625, 8), (4252, 8))

In [23]:
dff[(dff.overview.isna()) & (dff.vote_count == 0) & (dff.vote_average == 0)]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
189,191,1230477,Given The Movie : Hiiragi Mix,NaN,2024-01-27,37.150,0.0,0
294,297,1352344,Anima Kronos,NaN,2024-09-21,15.280,0.0,0
305,308,1352843,Olli,NaN,2024-09-22,23.653,0.0,0
319,322,1234667,Walking Woman,NaN,2024-09-21,14.388,0.0,0
320,323,1317276,Given The Movie : Umi e,NaN,2024-09-20,19.146,0.0,0
...,...,...,...,...,...,...,...,...
3563,3613,1354522,Gatvės lenktynininkai: Londonas,NaN,2024-09-04,2.032,0.0,0
3602,3652,1177248,Tras las huellas de Mengele,NaN,2024-09-19,2.125,0.0,0
3615,3665,1336835,El instinto de Sharon Stone,NaN,2024-08-18,2.106,0.0,0
3674,3725,1340769,La mente fracturada,NaN,2024-09-01,2.040,0.0,0
3690,3741,1353577,By the Way,NaN,2024-09-05,2.017,0.0,0

In [25]:
dff[(dff.overview.isna()) & (dff.vote_count != 0) & (dff.vote_average != 0)]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
93,94,1087421,Odio el verano,NaN,2024-08-23,86.451,6.5,2
226,229,997086,My Next Life as a Villainess: All Routes Lead ...,NaN,2023-12-08,40.545,7.7,5
474,480,1356094,"Cagnat, le dessin sinon rien",NaN,2024-09-19,16.934,8.0,1
650,656,1356457,La Vie sans voiture ?,NaN,2024-09-19,13.639,8.0,1
655,661,1354890,"Discount, le prix à payer",NaN,2024-09-10,8.471,8.0,1
...,...,...,...,...,...,...,...,...
4210,4267,1358099,Story Riders,NaN,2024-08-16,1.357,10.0,1
4360,4422,1329679,Skål Kirsten - Danmarks Ældste,NaN,2024-08-14,0.880,10.0,1
4411,4474,1359712,Faz Todo Sentido Chover,NaN,2024-09-22,0.840,10.0,1
4447,4510,1066075,Disney Channel Mitmachkino,NaN,2023-02-25,0.231,2.0,1
4612,4685,1359989,"Jean-Louis Aubert, le chant des possibles",NaN,2024-09-23,1.400,8.0,1

In [29]:
dff.dropna(subset='overview', inplace=True)

In [31]:
dff[dff['popularity'].isna()]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
924,932,1281281,Mentally Unavailable,A struggling young boy finds himself in a chal...,NaN,NaN,0.000,0
925,933,2024-09-16,6.343,0,0,NaN,0.000,0
1073,1081,1325425,Home Free,Three estranged adult sisters return home for ...,2024-09-18,NaN,5.976,0
1548,1558,1354818,Several Successful Situations,Simultaneous & Successive. An experimental fil...,2024-09-09,NaN,4.515,0
1777,1793,749116,Cidade; Campo,"Two stories of migration, memories and ghosts....",2024-08-29,NaN,3.913,7
2095,2114,1211135,Rock ‘n’ Roll Ringo,A scaffolding builder loses his job and starts...,NaN,NaN,0.000,0
2096,2115,2024-09-05,2.859,0,0,NaN,0.000,0
2435,2458,1337726,Chileans of the North,The story of the Chilean refugees who came to ...,2024-09-11,NaN,2.077,0
2436,2459,1354708,MIMIC,the shadows hide mimics,NaN,NaN,0.000,0
2437,2464,2024-09-09,2.091,0,0,NaN,0.000,0
2626,2654,1324764,End of the Film (Конец фильма),Slava and Katya come to the forest for a picni...,2024-08-21,NaN,1.550,0
2901,2937,1358591,2 Super 2 Bad,Young Sophomore Fogell is forced to spend his ...,2024-09-10,NaN,2.109,0
3326,3372,1340039,REBORN,Saiman Says is in an identity crisis. Will he ...,NaN,NaN,0.000,0
3327,3374,2024-08-28,1.283,0,0,NaN,0.000,0
3829,3881,993558,Smalltown Boys,A young man appears to be imagining a world di...,2022-11-05,NaN,0.815,5
4268,4326,1340549,Parsifal,Animated short film based on motifs from the o...,NaN,NaN,0.000,0
4269,4329,2024-08-26,1.092,0,0,NaN,0.000,0
4366,4428,1327929,demarcations; you have black eyes (cheshmeh si...,Drawing its title from a song by Afghan singer...,2024-08-16,NaN,0.948,0
4530,4596,1244588,Is All Around,A pictorial sense of space presented through f...,2024-09-21,NaN,0.000,0

In [38]:
dff[dff.title == '6.343']

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
925,933,2024-09-16,6.343,0,0,NaN,0.0,0

In [40]:
for i in ['6.343', '2.859', '2.091', '1.283', '1.092']:
    ind = dff[dff.title == i].index[0]
    dff.drop(ind, inplace=True)

In [41]:
dff[dff['popularity'].isna()]

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count
924,932,1281281,Mentally Unavailable,A struggling young boy finds himself in a chal...,NaN,NaN,0.000,0
1073,1081,1325425,Home Free,Three estranged adult sisters return home for ...,2024-09-18,NaN,5.976,0
1548,1558,1354818,Several Successful Situations,Simultaneous & Successive. An experimental fil...,2024-09-09,NaN,4.515,0
1777,1793,749116,Cidade; Campo,"Two stories of migration, memories and ghosts....",2024-08-29,NaN,3.913,7
2095,2114,1211135,Rock ‘n’ Roll Ringo,A scaffolding builder loses his job and starts...,NaN,NaN,0.000,0
2435,2458,1337726,Chileans of the North,The story of the Chilean refugees who came to ...,2024-09-11,NaN,2.077,0
2436,2459,1354708,MIMIC,the shadows hide mimics,NaN,NaN,0.000,0
2626,2654,1324764,End of the Film (Конец фильма),Slava and Katya come to the forest for a picni...,2024-08-21,NaN,1.550,0
2901,2937,1358591,2 Super 2 Bad,Young Sophomore Fogell is forced to spend his ...,2024-09-10,NaN,2.109,0
3326,3372,1340039,REBORN,Saiman Says is in an identity crisis. Will he ...,NaN,NaN,0.000,0
3829,3881,993558,Smalltown Boys,A young man appears to be imagining a world di...,2022-11-05,NaN,0.815,5
4268,4326,1340549,Parsifal,Animated short film based on motifs from the o...,NaN,NaN,0.000,0
4366,4428,1327929,demarcations; you have black eyes (cheshmeh si...,Drawing its title from a song by Afghan singer...,2024-08-16,NaN,0.948,0
4530,4596,1244588,Is All Around,A pictorial sense of space presented through f...,2024-09-21,NaN,0.000,0

In [42]:
dff['popularity'].fillna(0, inplace=True)

In [43]:
pd.DataFrame({'count': dff.isna().sum(), 'percent': dff.isna().sum()/len(dff)})

              count   percent
Unnamed: 0        0  0.000000
id                0  0.000000
title             0  0.000000
overview          0  0.000000
release_date     27  0.007083
popularity        0  0.000000
vote_average      0  0.000000
vote_count        0  0.000000

In [45]:
dff.columns

Index(['Unnamed: 0', 'id', 'title', 'overview', 'release_date', 'popularity',
       'vote_average', 'vote_count'],
      dtype='object')

In [136]:
new_df = dff.drop(columns=['Unnamed: 0'])

In [137]:
new_df[new_df.popularity == new_df.popularity.max()]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,2024-08-21,4065.642,5.314,287

In [138]:
test_df = new_df.drop(0)

In [139]:
test_df[test_df.popularity == test_df.popularity.max()]

,id,title,overview,release_date,popularity,vote_average,vote_count
1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2024-06-20,1743.127,7.169,1670

In [140]:
test_df['popularity'].describe()

count    3811.000000
mean       15.873681
std        80.499813
min         0.000000
25%         1.400000
50%         2.717000
75%         6.523000
max      1743.127000
Name: popularity, dtype: float64

In [141]:
test_df['popularity'].skew()

12.038339881775135

In [142]:
new_df.popularity.replace({4065.642: 4.0}, inplace=True)

In [143]:
new_df.describe()

        popularity  vote_average    vote_count
count  3812.000000   3812.000000   3812.000000
mean     15.870566      1.785972     93.321354
std      80.489481      3.136538   1088.589518
min       0.000000      0.000000      0.000000
25%       1.400000      0.000000      0.000000
50%       2.718000      0.000000      0.000000
75%       6.519500      3.425000      1.000000
max    1743.127000     10.000000  25432.000000

# TF_IDF Vectorization for Overview

In [144]:
new_df.loc[0, 'overview']

'Soulmates Eric and Shelly are brutally murdered when the demons of her dark past catch up with them. Given the chance to save his true love by sacrificing himself, Eric sets out to seek merciless revenge on their killers, traversing the worlds of the living and the dead to put the wrong things right.'

In [145]:
import re
new_df['overview'].str.lower().apply(lambda x: re.sub(r'[^a-zA-Z\s]','', x))

0       soulmates eric and shelly are brutally murdere...
1       gru and lucy and their girlsmargo edith and ag...
2       returning to her home planet an infamous bount...
3       after a family tragedy three generations of th...
4       a former marine confronts corruption in a smal...
                              ...
4620                                      in the open air
4621    in his latest standup special fabrizio copano ...
4622    americas first guru is the compelling story of...
4623    a brand new cbeebies prom from the royal alber...
4624    mexican bantamweight andres teran will fight c...
Name: overview, Length: 3812, dtype: object

In [146]:
new_df['overview_clean'] = new_df['overview'].str.lower().apply(lambda x: re.sub(r'[^a-zA-Z\s]','', x))

In [147]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [148]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(new_df['overview_clean'])

In [149]:
new_df.shape, tfidf_matrix.shape

((3812, 8), (3812, 19042))

In [150]:
from sklearn.metrics.pairwise import cosine_similarity

In [151]:
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [152]:
cosine_sim.shape

(3812, 3812)

# Weighted Scoring

In [153]:
new_df.describe()

        popularity  vote_average    vote_count
count  3812.000000   3812.000000   3812.000000
mean     15.870566      1.785972     93.321354
std      80.489481      3.136538   1088.589518
min       0.000000      0.000000      0.000000
25%       1.400000      0.000000      0.000000
50%       2.718000      0.000000      0.000000
75%       6.519500      3.425000      1.000000
max    1743.127000     10.000000  25432.000000

In [154]:
for i in new_df.select_dtypes(np.number).columns.to_list():
    print(i,'\n Skewness = ', new_df[i].skew(), '\n Kurtosis = ', new_df[i].kurt())
    print()
    print('**********************')
    print()

popularity
 Skewness =  12.039930168944375
 Kurtosis =  184.49963896089508

**********************

vote_average
 Skewness =  1.3406160371930202
 Kurtosis =  0.12496471518971575

**********************

vote_count
 Skewness =  18.344277563925726
 Kurtosis =  371.19358723495446

**********************

In [156]:
new_df['popularity_log'] = np.log1p(new_df['popularity'])  # log(1 + x) to handle zeros
new_df['vote_count_log'] = np.log1p(new_df['vote_count'])
new_df['vote_average_log'] = np.log1p(new_df['vote_average'])

In [157]:
for i in ['popularity_log', 'vote_count_log', 'vote_average_log']:
    print(i,'\n Skewness = ', new_df[i].skew(), '\n Kurtosis = ', new_df[i].kurt())
    print()
    print('**********************')
    print()

popularity_log
 Skewness =  1.761943198866907
 Kurtosis =  4.287417215466556

**********************

vote_count_log
 Skewness =  2.9473882813523415
 Kurtosis =  9.10098490096309

**********************

vote_average_log
 Skewness =  1.1525342520840889
 Kurtosis =  -0.5976420635969308

**********************

In [158]:
new_df.describe()

,popularity,vote_average,vote_count,popularity_log,vote_count_log,vote_average_log
count,3812.000000,3812.000000,3812.000000,3812.000000,3812.000000,3812.000000
mean,15.870566,1.785972,93.321354,1.605356,0.668249,0.530082
std,80.489481,3.136538,1088.589518,1.086739,1.559777,0.900969
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.400000,0.000000,0.000000,0.875469,0.000000,0.000000
50%,2.718000,0.000000,0.000000,1.313186,0.000000,0.000000
75%,6.519500,3.425000,1.000000,2.017499,0.693147,1.487223
max,1743.127000,10.000000,25432.000000,7.464009,10.143803,2.397895

In [159]:
from sklearn.preprocessing import MinMaxScaler

In [160]:
m = MinMaxScaler()

new_df[['popularity_log', 'vote_count_log', 'vote_average_log']] = m.fit_transform(new_df[['popularity_log', 'vote_count_log', 'vote_average_log']])

In [161]:
# new_df['vote_average_scaled'] = m.fit_transform(new_df[['vote_average']])

In [163]:
new_df[["popularity_log", "vote_average_log", "vote_count_log"]].describe()

       popularity_log  vote_average_log  vote_count_log
count     3812.000000       3812.000000     3812.000000
mean         0.215080          0.221061        0.065878
std          0.145597          0.375733        0.153766
min          0.000000          0.000000        0.000000
25%          0.117292          0.000000        0.000000
50%          0.175936          0.000000        0.000000
75%          0.270297          0.620220        0.068332
max          1.000000          1.000000        1.000000

In [165]:
def weighted_score(row, weight_popularity=0.5, weight_vote=0.3, weight_count=0.2):
    return(
    weight_popularity*row['popularity_log'] + 
        weight_vote*row['vote_average_log'] + 
        weight_count*row['vote_count_log']
    )
new_df['weighted_score'] = new_df.apply(weighted_score, axis=1)

In [168]:
new_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count,overview_clean,popularity_log,vote_count_log,vote_average_log,weighted_score
0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,2024-08-21,4.000,5.314,287,soulmates eric and shelly are brutally murdere...,0.215626,0.558268,0.768495,0.450015
1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2024-06-20,1743.127,7.169,1670,gru and lucy and their girlsmargo edith and ag...,1.000000,0.731597,0.875913,0.909093
2,365177,Borderlands,"Returning to her home planet, an infamous boun...",2024-08-07,1689.252,5.898,566,returning to her home planet an infamous bount...,0.995796,0.625048,0.805386,0.864523
3,917496,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",2024-09-04,1434.179,7.122,641,after a family tragedy three generations of th...,0.973879,0.637294,0.873506,0.876450
4,646097,Rebel Ridge,A former Marine confronts corruption in a smal...,2024-08-27,1107.009,7.040,633,a former marine confronts corruption in a smal...,0.939216,0.636058,0.869274,0.857602

# Recommendation System

In [169]:
selected = 'Despicable Me 4'

In [170]:
new_df[new_df['title'] == selected].index[0]

1

In [174]:
sorted(list(enumerate(cosine_sim[1])), reverse=True, key=lambda x: x[1]) # top movies based only on cosine similarity

[(1, 1.0000000000000002),
 (1642, 0.07415899974018295),
 (1839, 0.07361351278838645),
 (3672, 0.07203683010317735),
 (580, 0.071255939780378),
 (3290, 0.07035957969955228),
 (1055, 0.06525434155511725),
 (2095, 0.06506833534385173),
 (3267, 0.05920553148077343),
 (17, 0.058750235783844404),
 (3086, 0.05480176523673327),
 (1665, 0.05404656503825575),
 (7, 0.05355845714752305),
 (1972, 0.053133339188947144),
 (256, 0.05097603606174702),
 (1588, 0.05091975004380997),
 (2611, 0.05088108822454103),
 (143, 0.04854751427525691),
 (126, 0.047991221133016015),
 (2240, 0.04733308392638522),
 (1982, 0.04711531778479626),
 (89, 0.046827306241235093),
 (3308, 0.046764753576858206),
 (776, 0.04665643646673827),
 (2150, 0.04636220119202199),
 (467, 0.0460436187100104),
 (2562, 0.04587880402973961),
 (253, 0.04573722889843122),
 (2775, 0.04556413695911736),
 (3581, 0.045520188255034746),
 (2164, 0.04394481895110751),
 (3262, 0.043222614189274325),
 (139, 0.0425188014464806),
 (3314, 0.0418746054880388),
 (1183, 0.04179164045099305),
 (533, 0.041673055026860084),
 (1844, 0.03917860176212246),
 (3495, 0.03895575241072305),
 (28, 0.03857496304811127),
 (1713, 0.03821484490943571),
 (1673, 0.03815447132806829),
 (78, 0.03781613489752296),
 (2684, 0.03750669877866269),
 (3536, 0.03748273347195799),
 (1946, 0.03745117113264165),
 (2643, 0.037303925352841286),
 (3626, 0.03701566427613553),
 (2461, 0.03671560001891248),
 (895, 0.0359658551165973),
 (2331, 0.0353173486607995),
 (83, 0.03523367226143293),
 (3708, 0.03489591124906237),
 (21, 0.03484318866378049),
 (3418, 0.034775619382875066),
 (1053, 0.034431573530844306),
 (2823, 0.034379851631016985),
 (2990, 0.03435438305400941),
 (3520, 0.03428609072460232),
 (551, 0.034235687953914344),
 (3556, 0.03412997778552505),
 (3109, 0.03412338911239407),
 (2770, 0.033842900597162794),
 (733, 0.03383312874330384),
 (3435, 0.03370986383605441),
 (1495, 0.03367138226539245),
 (753, 0.033648470106403976),
 (3, 0.033589651827427146),
 (3199, 0.03355856313479965),
 (798, 0.033277038332143134),
 (88, 0.03308792490809905),
 (720, 0.03289749885033986),
 (1151, 0.0328774213785713),
 (123, 0.032817923889720775),
 (2187, 0.032397495955519474),
 (3141, 0.03228451013909403),
 (2086, 0.03228438702872928),
 (1705, 0.0322334331448043),
 (2793, 0.03202576660376982),
 (1840, 0.031925057939295606),
 (3231, 0.031924387041222725),
 (2062, 0.03172318261315782),
 (1514, 0.031543614824283125),
 (332, 0.03146650811726666),
 (1551, 0.03145316134290366),
 (997, 0.03140880243330608),
 (427, 0.03131041065433123),
 (2885, 0.031217714720339726),
 (1044, 0.031005900176696778),
 (2082, 0.03082111602810639),
 (2015, 0.03076315833187641),
 (1045, 0.030746491207336624),
 (2279, 0.03073743817822215),
 (1991, 0.030699214625373072),
 (47, 0.030507536414257637),
 (1894, 0.030441375304547928),
 (2101, 0.0302323982833845),
 (3335, 0.030136779842578953),
 (1258, 0.030086020077079334),
 (3590, 0.030054516584315176),
 (2935, 0.029969096548606654),
 (2275, 0.02990394701855322),
 (3702, 0.029854406091934925),
 (1469, 0.02968497453012874),
 (3673, 0.029535129370287454),
 (1073, 0.029477245312455318),
 (1113, 0.029318656109794936),
 (2202, 0.02884682099271589),
 (2284, 0.02872054098243201),
 (3694, 0.028634392649879707),
 (2677, 0.028623643544211094),
 (244, 0.028498207445984088),
 (3300, 0.02842157983813999),
 (959, 0.028411052069478054),
 (2772, 0.028351237920328953),
 (2264, 0.02825805882713519),
 (254, 0.028251849166242356),
 (918, 0.028209474313186565),
 (3691, 0.028029743466778168),
 (3266, 0.027889661233533074),
 (2892, 0.027833730398041226),
 (3538, 0.02772182098476071),
 (1003, 0.02764827111675367),
 (2412, 0.027606435680212968),
 (3568, 0.027542852620081965),
 (2956, 0.027422572268705203),
 (132, 0.02741773606645022),
 (2760, 0.027381349240791004),
 (3125, 0.027357178458669956),
 (1929, 0.027306191369653822),
 (41, 0.027257211962476408),
 (2960, 0.02720717821091804),
 (3665, 0.027073298239440356),
 (3451, 0.027065601944072443),
 (266, 0.026994781383005918),
 (1404, 0.026868780657166313),
 (1855, 0.026815687837736673),
 (606, 0.026769489225479483),
 (922, 0.026687408952951876),
 (2237, 0.026610646487476044),
 (3455, 0.026595278180554172),
 (1233, 0.02657045873804131),
 (2232, 0.026524759056826688),
 (1132, 0.02641784401515299),
 (2000, 0.026394627776689113),
 (973, 0.026298491154154238),
 (2192, 0.0261634704322958),
 (227, 0.026161945840518723),
 (2209, 0.026156357925255933),
 (1364, 0.026088810369129512),
 (3579, 0.026021232975029597),
 (3405, 0.025956839774385464),
 (456, 0.02595468399157179),
 (1324, 0.025935084108855304),
 (208, 0.025913926815176697),
 (2504, 0.02586980733111119),
 (31, 0.025614082029689948),
 (1961, 0.025600642857887965),
 (2407, 0.02558316612371362),
 (3444, 0.02553765529823585),
 (3554, 0.02552521567370042),
 (3685, 0.025509661342048805),
 (803, 0.025490279092106848),
 (2243, 0.025465620166751007),
 (3023, 0.025425551398656376),
 (2384, 0.02540493763653832),
 (2018, 0.025303265619422498),
 (3790, 0.025229703201491958),
 (130, 0.025176564010579657),
 (1187, 0.02514535860072328),
 (976, 0.025111668147199874),
 (992, 0.02510680708909328),
 (351, 0.02505099425208796),
 (2700, 0.025015964327949454),
 (1379, 0.0249962326672921),
 (1335, 0.024949032959860104),
 (1369, 0.024842789283354746),
 (3101, 0.024788910444827533),
 (2382, 0.02473735979234084),
 (966, 0.02471664552760404),
 (1528, 0.02460409583771185),
 (1451, 0.02457520046660449),
 (2288, 0.0245679246999256),
 (1568, 0.024555178235972214),
 (2580, 0.024453902735163967),
 (710, 0.024425648434752627),
 (2146, 0.024344267689970812),
 (3610, 0.024313118186454076),
 (3522, 0.024292632273790297),
 (3365, 0.024235514198448892),
 (237, 0.02416967910576878),
 (748, 0.024108884613151232),
 (2693, 0.02408911061622797),
 (2229, 0.024066449483583902),
 (1352, 0.024048072725958568),
 (1522, 0.02401105131166579),
 (2189, 0.02400676655046331),
 (1813, 0.023910850913129136),
 (1570, 0.023799760939753608),
 (2647, 0.02377797842798879),
 (3181, 0.02374287627841561),
 (125, 0.023729878644871114),
 (1032, 0.0236977806930791),
 (476, 0.02366572486318177),
 (3349, 0.023625571921197516),
 (1735, 0.023616349933994044),
 (3178, 0.023610445643381904),
 (2013, 0.023589149141044992),
 (360, 0.023576902712924137),
 (2151, 0.02353902165221526),
 (2551, 0.02341888663730895),
 (614, 0.023391573520156427),
 (3606, 0.023191096778358233),
 (2319, 0.023145291121491943),
 (3719, 0.02311703214665559),
 (1432, 0.02308896147635423),
 (3531, 0.022977873581081623),
 (626, 0.022909238736981315),
 (437, 0.022767867622303428),
 (402, 0.022746136853460074),
 (3091, 0.022711375109236178),
 (1995, 0.022684025816314263),
 (3107, 0.02266620875150658),
 (1439, 0.02264482116119574),
 (969, 0.02259720553781063),
 (3017, 0.022442050439362114),
 (3644, 0.02240581821895061),
 (3165, 0.022297465562803022),
 (2484, 0.02221673197324362),
 (1252, 0.022212773836997133),
 (2715, 0.02216758756043752),
 (423, 0.022113476832083107),
 (840, 0.022019471540547703),
 (548, 0.021997833841726346),
 (2296, 0.021985969428897245),
 (602, 0.021980063063730876),
 (172, 0.021978224395146843),
 (3385, 0.021951549320007518),
 (3049, 0.021926118991738172),
 (3627, 0.02190797168741802),
 (1651, 0.02180787737185058),
 (2915, 0.021783301393677845),
 (1545, 0.02176907924674101),
 (1212, 0.021735969341023894),
 (2019, 0.021723963778224872),
 (740, 0.02168769208259814),
 (2813, 0.021683585485898375),
 (158, 0.02167809782951894),
 (2343, 0.02167203259755029),
 (612, 0.02159272799468302),
 (212, 0.021552353431948022),
 (1943, 0.02152534619361899),
 (1407, 0.021391600615780944),
 (3009, 0.021382558371898015),
 (1050, 0.02136547907925744),
 (1011, 0.021317004200501886),
 (2072, 0.021198371091258956),
 (794, 0.021193116792503935),
 (1107, 0.021131124212979063),
 (1688, 0.021066841651459705),
 (3225, 0.021047527412732216),
 (1126, 0.021033072897327077),
 (119, 0.020930157724560444),
 (186, 0.020923730945946597),
 (3716, 0.020911252947766596),
 (251, 0.02089186875176238),
 (354, 0.020859992168627228),
 (2191, 0.020858835806732694),
 (81, 0.02076399294971373),
 (760, 0.020730387240557827),
 (3778, 0.020706203093820288),
 (3801, 0.020665235001618328),
 (944, 0.02064996253980623),
 (263, 0.02059303104068839),
 (2245, 0.020572638209678112),
 (2462, 0.020565319081347355),
 (1177, 0.02049978977694933),
 (713, 0.020490983991067822),
 (1041, 0.02047435790009085),
 (2182, 0.02040581717130766),
 (810, 0.020368697156344606),
 (1385, 0.020358017490870774),
 (2510, 0.020332714105903153),
 (3285, 0.0203288143526704),
 (162, 0.02031408577939654),
 (3284, 0.020236946032505938),
 (777, 0.020148730274741414),
 (2745, 0.020125062597519117),
 (3446, 0.020101212377954633),
 (1782, 0.020032467642355167),
 (3093, 0.02002540042636638),
 (634, 0.019982670998876354),
 (2930, 0.01997655970216223),
 (2455, 0.019973205384773787),
 (66, 0.019921828449052832),
 (778, 0.01988393882447294),
 (3350, 0.01986480048837572),
 (3124, 0.019848803205932367),
 (121, 0.019778290183875863),
 (2341, 0.019741439016472684),
 (3569, 0.019736050829112423),
 (3726, 0.01971927375076949),
 (881, 0.01971794493982081),
 (1599, 0.019691728208785054),
 (1701, 0.01959785003728474),
 (2260, 0.01956485563943806),
 (3505, 0.01949697207327418),
 (3115, 0.019480078896766798),
 (995, 0.019475031945110233),
 (1951, 0.01947437553489217),
 (397, 0.01942272166563214),
 (3220, 0.019421864015871957),
 (807, 0.019420196959802186),
 (79, 0.01934800391680443),
 (1197, 0.019325299998643887),
 (543, 0.01932182096822527),
 (588, 0.019307495988956598),
 (3137, 0.019293979789630194),
 (610, 0.019272851086613217),
 (3657, 0.01908425771419956),
 (3052, 0.019056526194273116),
 (3169, 0.019048219199114175),
 (759, 0.019044817099304178),
 (891, 0.01900316543641538),
 (2727, 0.018955082527564105),
 (2517, 0.01894396663017648),
 (747, 0.01892115264819055),
 (2535, 0.018912693277885997),
 (3729, 0.01890091026615735),
 (1853, 0.018819846196513553),
 (732, 0.018787011002791718),
 (235, 0.018756379455523536),
 (1689, 0.018743123178473917),
 (1026, 0.01872069462375777),
 (3172, 0.01871702262123302),
 (800, 0.018702616039817446),
 (441, 0.018688322882926153),
 (958, 0.01867753752413398),
 (141, 0.01865745124740517),
 (3511, 0.018602037321123102),
 (449, 0.018584104337135164),
 (534, 0.01857781205102605),
 (868, 0.018563198198640815),
 (2873, 0.018552424193850846),
 (2080, 0.018548659470664274),
 (1977, 0.01853695320901076),
 (318, 0.018472527591464723),
 (2905, 0.018416063959997925),
 (505, 0.018403245917046854),
 (1704, 0.018270602736591608),
 (3112, 0.018255907822563276),
 (1765, 0.018232936923022688),
 (2568, 0.01820761714665841),
 (1883, 0.018175039948862593),
 (789, 0.018168886227858963),
 (3774, 0.018141156561245365),
 (912, 0.01812604605992325),
 (3469, 0.018101381245076365),
 (24, 0.01806295606349423),
 (270, 0.01799991815517432),
 (2721, 0.01798742248163249),
 (1061, 0.017971364393129106),
 (653, 0.017930501312645827),
 (3296, 0.017913814214698287),
 (698, 0.01787709904727657),
 (1829, 0.017876470268540706),
 (1001, 0.01787228527270894),
 (1142, 0.017860640394853074),
 (1944, 0.01782821153343321),
 (586, 0.017826665521822396),
 (801, 0.017812045200091307),
 (140, 0.017809937826029864),
 (2738, 0.017796016219583228),
 (1471, 0.017786957011041285),
 (1374, 0.017779196903697565),
 (2459, 0.017715415341954803),
 (2109, 0.0176874769163905),
 (3649, 0.017669349262878702),
 (420, 0.017668408714891157),
 (247, 0.017664370574180886),
 (182, 0.017611493301750412),
 (2828, 0.017611466803034537),
 (1217, 0.01757540109260166),
 (765, 0.017559164742225554),
 (3529, 0.017458109018995086),
 (3240, 0.017448871746193324),
 (573, 0.01742069572720507),
 (2993, 0.017417935002886863),
 (2625, 0.017416421492670017),
 (1125, 0.017334438349935928),
 (2903, 0.017306096228856017),
 (594, 0.017274693159566295),
 (979, 0.017253144315962043),
 (1838, 0.01722214533205922),
 (114, 0.01719260620553015),
 (413, 0.01718308187569038),
 (3408, 0.017116985979653703),
 (502, 0.017112205456474565),
 (1095, 0.01705900887771025),
 (108, 0.017040112629937508),
 (3585, 0.01702555586729307),
 (3483, 0.017010144016081384),
 (3278, 0.016985103986711436),
 (863, 0.016951428573117842),
 (920, 0.016939314117725188),
 (325, 0.016926161935208923),
 (1856, 0.016910965798659673),
 (2048, 0.016896339322070054),
 (213, 0.016851144240827204),
 (1123, 0.01680324577557117),
 (831, 0.016754282618694747),
 (1521, 0.016693405618737882),
 (3753, 0.01669238645540612),
 (1772, 0.016686977268127873),
 (1486, 0.01667375642307651),
 (2027, 0.01664310868531676),
 (1667, 0.01659916151425422),
 (3324, 0.016567869770412805),
 (2895, 0.016566878404465284),
 (3292, 0.016547650204236826),
 (989, 0.01654756771530875),
 (1988, 0.01654756771530875),
 (1320, 0.01650633711106291),
 (526, 0.016504202926208616),
 (1525, 0.016494723104720235),
 (538, 0.016475904914725982),
 (2001, 0.016450533932161913),
 (1229, 0.01641299428525661),
 (1300, 0.016356993944814366),
 (1421, 0.01633705556960585),
 (328, 0.01628603978118764),
 (148, 0.01627828193328729),
 (475, 0.016233673634086527),
 (448, 0.016226315103620742),
 (1299, 0.0161945300613284),
 (2951, 0.016179282776363643),
 (3572, 0.01617003424412688),
 (2313, 0.016167655212402186),
 (3081, 0.016152596003897027),
 (414, 0.016125176906562507),
 (3382, 0.016118634794251758),
 (1338, 0.016110881637263),
 (1176, 0.016060066534230893),
 (827, 0.01601947387173164),
 (978, 0.016003444617947934),
 (3098, 0.01596614846528205),
 (1541, 0.01594093652572008),
 (968, 0.015901557963370026),
 (2858, 0.01589787010675434),
 (1168, 0.015882948979316615),
 (2717, 0.01587161779521742),
 (1437, 0.015859889978228448),
 (239, 0.015856097312989894),
 (1268, 0.015846452775481523),
 (3291, 0.0158111627599256),
 (2463, 0.01577593037153159),
 (3189, 0.015773249809691428),
 (2538, 0.015752189995083588),
 (68, 0.01572832642672412),
 (146, 0.015711212354927687),
 (2071, 0.01569943727328587),
 (3442, 0.01559603526341496),
 (2708, 0.015582725452202741),
 (363, 0.015578770861933803),
 (205, 0.01556315100504085),
 (3072, 0.0155602857507001),
 (43, 0.015536692059584079),
 (751, 0.015525330495947415),
 (109, 0.015521302892411548),
 (1790, 0.015491817529556565),
 (546, 0.01548323673869209),
 (252, 0.015482281275254785),
 (1039, 0.01548010655062797),
 (2739, 0.015449027430247212),
 (652, 0.015438459700071737),
 (1213, 0.015406016656931176),
 (2446, 0.015392476382705451),
 (29, 0.015338061648063388),
 (238, 0.015288935272548525),
 (483, 0.01528143415152541),
 (822, 0.01527750022530475),
 (3245, 0.015201985270635175),
 (1526, 0.015162857429623132),
 (2971, 0.015152541848847075),
 (486, 0.015150588837392053),
 (1715, 0.015125514560770933),
 (2659, 0.015114812714694684),
 (2877, 0.01510972343576974),
 (2113, 0.015103013381952078),
 (269, 0.015087746977046533),
 (1076, 0.015078041715591134),
 (147, 0.015035781115924216),
 (1868, 0.0150000216940729),
 (1236, 0.014952465956548582),
 (464, 0.014840879146329873),
 (362, 0.014793075961715639),
 (552, 0.014762776546182247),
 (1866, 0.014756971631485054),
 (3763, 0.014735029411633082),
 (2444, 0.014723145990366079),
 (3533, 0.014698413579031708),
 (304, 0.014694488824195563),
 (2740, 0.014691829698877173),
 (374, 0.014658969860912694),
 (587, 0.014654178542527782),
 (852, 0.014651365427242177),
 (3557, 0.014565148846043381),
 (3011, 0.014540068336383999),
 (3667, 0.01448741471726093),
 (560, 0.014467587325148861),
 (1939, 0.01443873913146831),
 (76, 0.014341128546395514),
 (105, 0.014297338878300944),
 (3453, 0.01428735362766597),
 (255, 0.014141697290676707),
 (319, 0.014131251942330619),
 (1015, 0.014129734147292522),
 (371, 0.014123170832866908),
 (876, 0.014097439974317786),
 (2872, 0.014078048964548449),
 (582, 0.014072378232550921),
 (1043, 0.014056668551343568),
 (858, 0.014041040025587486),
 (3303, 0.014024370692740326),
 (1263, 0.01396959768887393),
 (2532, 0.013898801253577297),
 (3733, 0.013824515769109131),
 (383, 0.013819389523269882),
 (2664, 0.013816124824642444),
 (689, 0.01380958356838135),
 (2571, 0.01378157572864733),
 (3000, 0.01375579521409016),
 (2223, 0.013739807307158215),
 (1590, 0.013717668657129407),
 (506, 0.013687412679988336),
 (390, 0.013670588856824782),
 (1088, 0.013664403671028703),
 (50, 0.013593933954775043),
 (2016, 0.013450058068929153),
 (283, 0.013441336947758963),
 (859, 0.013423285791543628),
 (2636, 0.013397845027756594),
 (1399, 0.013376691941260885),
 (823, 0.013372623583528243),
 (722, 0.013291560236605507),
 (3170, 0.013279263149185577),
 (3329, 0.013267966223385127),
 (781, 0.013254202293697098),
 (3431, 0.013178625296695428),
 (2736, 0.013164732159702442),
 (1770, 0.013153390447517403),
 (504, 0.0131352135647271),
 (194, 0.013114970697306811),
 (539, 0.013070247180433784),
 (2102, 0.013031212502388865),
 (3362, 0.012999497305792883),
 (3249, 0.012989626293202704),
 (302, 0.012976382026751792),
 (1931, 0.012926926420970033),
 (1560, 0.012882607844372606),
 (3409, 0.012878787837032007),
 (707, 0.012878211658634696),
 (1674, 0.012872265015619697),
 (180, 0.012845426579820896),
 (796, 0.012805818227363997),
 (3476, 0.012790373482054989),
 (120, 0.012779607157418327),
 (1070, 0.012764832954183866),
 (1604, 0.012764671278158057),
 (3374, 0.01275134784755698),
 (1179, 0.01273344559805916),
 (1423, 0.012712901566156948),
 (3499, 0.012710678804875846),
 (1314, 0.01267173937687998),
 (3810, 0.012629829117133564),
 (3399, 0.01262866258011472),
 (1255, 0.012626050447413394),
 (2135, 0.01261679292421584),
 (2017, 0.012602586590983409),
 (306, 0.012596003557204846),
 (3201, 0.01257323343839741),
 (1191, 0.012569923468654098),
 (2094, 0.012512554187414785),
 (3192, 0.012490186304265597),
 (1611, 0.01248581087928536),
 (2041, 0.012445713072394225),
 (2332, 0.012433853434716946),
 (3662, 0.012321172203029437),
 (1014, 0.012292704489616163),
 (890, 0.01228668111722281),
 (1630, 0.012284968490172675),
 (3271, 0.012277283608295187),
 (1773, 0.012274808313553369),
 (2115, 0.012264389132964749),
 (3580, 0.0122635099385708),
 (669, 0.012252910499982034),
 (2193, 0.012212058186164809),
 (482, 0.0121939514350083),
 (1761, 0.012177964433873567),
 (2988, 0.01217296942887226),
 (3010, 0.012168221896433138),
 (2711, 0.012159240385450281),
 (620, 0.012093830685819765),
 (1049, 0.012086726183564381),
 (2494, 0.012080211359901522),
 (245, 0.012018367292894025),
 (1994, 0.011985783398659619),
 (3376, 0.011950182926248167),
 (742, 0.01193155723237649),
 (667, 0.01191732643861473),
 (1975, 0.011823718745998298),
 (2310, 0.011822098286357144),
 (2973, 0.011807807239594665),
 (2421, 0.011777758036443011),
 (705, 0.011757284404562437),
 (849, 0.011733671774297209),
 (2377, 0.011713097914445567),
 (2644, 0.01170920771691501),
 (1933, 0.011704880983027745),
 (2139, 0.011676964026655755),
 (2486, 0.01167594038044878),
 (745, 0.01164245714101249),
 (532, 0.011593007770205414),
 (3062, 0.011591283668055001),
 (2525, 0.011590646349846532),
 (739, 0.011578366514208736),
 (282, 0.011572167688292168),
 (344, 0.011570649966476653),
 (2582, 0.011567552622668259),
 (2166, 0.011562997730580211),
 (607, 0.011553755181467722),
 (1774, 0.0115158787763754),
 (2479, 0.011510292617503368),
 (1310, 0.011479053975566781),
 (1684, 0.011420294883931023),
 (2154, 0.011413666858709471),
 (1394, 0.011393445994599119),
 (2403, 0.011342346228390825),
 (3741, 0.011340359470862899),
 (3676, 0.01132432573135919),
 (1321, 0.011283985709639207),
 (1805, 0.011278370481745178),
 (970, 0.011260422298735789),
 (492, 0.011257383519176406),
 (1112, 0.011175339179318254),
 (1925, 0.011167419480712263),
 (22, 0.011158836054782597),
 (2911, 0.011145812268156337),
 (1543, 0.011127516964764845),
 (1819, 0.011116408093951),
 (1464, 0.011112395692505186),
 (2172, 0.011105248623796566),
 (2874, 0.011097060690711466),
 (569, 0.011091289871623845),
 (2320, 0.011090859305629112),
 (1028, 0.0110257294000871),
 (1266, 0.010977768088805672),
 (960, 0.010973230490067643),
 (1146, 0.010943105646374254),
 (174, 0.010936814021601682),
 (887, 0.010908282192168349),
 (528, 0.01084309783221872),

In [184]:
only_sim = sorted(list(enumerate(cosine_sim[1])), reverse=True, key=lambda x: x[1])
top_sim = [new_df.iloc[i[0]]['title'] for i in only_sim[1:6]]

In [182]:
top_sim

['Femme',
 'Out to Pasture',
 'Behind The White Wall',
 'Crimson Snout',
 'Lullabye']

In [179]:
sorted(list(enumerate(cosine_sim[1])), reverse=True, key=lambda x: x[1]*new_df.iloc[x[0]]['weighted_score'])
# Baed on both cosine similarity and weighted score

[(1, 1.0000000000000002),
 (17, 0.058750235783844404),
 (7, 0.05355845714752305),
 (143, 0.04854751427525691),
 (580, 0.071255939780378),
 (126, 0.047991221133016015),
 (28, 0.03857496304811127),
 (3, 0.033589651827427146),
 (89, 0.046827306241235093),
 (139, 0.0425188014464806),
 (21, 0.03484318866378049),
 (78, 0.03781613489752296),
 (88, 0.03308792490809905),
 (83, 0.03523367226143293),
 (47, 0.030507536414257637),
 (41, 0.027257211962476408),
 (427, 0.03131041065433123),
 (123, 0.032817923889720775),
 (332, 0.03146650811726666),
 (31, 0.025614082029689948),
 (551, 0.034235687953914344),
 (753, 0.033648470106403976),
 (132, 0.02741773606645022),
 (130, 0.025176564010579657),
 (733, 0.03383312874330384),
 (81, 0.02076399294971373),
 (456, 0.02595468399157179),
 (125, 0.023729878644871114),
 (208, 0.025913926815176697),
 (798, 0.033277038332143134),
 (186, 0.020923730945946597),
 (24, 0.01806295606349423),
 (1844, 0.03917860176212246),
 (244, 0.028498207445984088),
 (254, 0.028251849166242356),
 (351, 0.02505099425208796),
 (2062, 0.03172318261315782),
 (2990, 0.03435438305400941),
 (66, 0.019921828449052832),
 (2086, 0.03228438702872928),
 (172, 0.021978224395146843),
 (227, 0.026161945840518723),
 (79, 0.01934800391680443),
 (43, 0.015536692059584079),
 (1003, 0.02764827111675367),
 (119, 0.020930157724560444),
 (1045, 0.030746491207336624),
 (1495, 0.03367138226539245),
 (437, 0.022767867622303428),
 (423, 0.022113476832083107),
 (710, 0.024425648434752627),
 (606, 0.026769489225479483),
 (3141, 0.03228451013909403),
 (212, 0.021552353431948022),
 (803, 0.025490279092106848),
 (68, 0.01572832642672412),
 (162, 0.02031408577939654),
 (612, 0.02159272799468302),
 (182, 0.017611493301750412),
 (108, 0.017040112629937508),
 (29, 0.015338061648063388),
 (121, 0.019778290183875863),
 (959, 0.028411052069478054),
 (50, 0.013593933954775043),
 (1855, 0.026815687837736673),
 (976, 0.025111668147199874),
 (966, 0.02471664552760404),
 (1053, 0.034431573530844306),
 (777, 0.020148730274741414),
 (148, 0.01627828193328729),
 (1233, 0.02657045873804131),
 (2935, 0.029969096548606654),
 (402, 0.022746136853460074),
 (109, 0.015521302892411548),
 (253, 0.04573722889843122),
 (114, 0.01719260620553015),
 (1324, 0.025935084108855304),
 (1469, 0.02968497453012874),
 (354, 0.020859992168627228),
 (252, 0.015482281275254785),
 (141, 0.01865745124740517),
 (2101, 0.0302323982833845),
 (1335, 0.024949032959860104),
 (2284, 0.02872054098243201),
 (238, 0.015288935272548525),
 (247, 0.017664370574180886),
 (610, 0.019272851086613217),
 (256, 0.05097603606174702),
 (467, 0.0460436187100104),
 (76, 0.014341128546395514),
 (634, 0.019982670998876354),
 (304, 0.014694488824195563),
 (2956, 0.027422572268705203),
 (944, 0.02064996253980623),
 (140, 0.017809937826029864),
 (413, 0.01718308187569038),
 (1252, 0.022212773836997133),
 (794, 0.021193116792503935),
 (588, 0.019307495988956598),
 (969, 0.02259720553781063),
 (653, 0.017930501312645827),
 (748, 0.024108884613151232),
 (1439, 0.02264482116119574),
 (397, 0.01942272166563214),
 (1642, 0.07415899974018295),
 (2382, 0.02473735979234084),
 (2018, 0.025303265619422498),
 (1050, 0.02136547907925744),
 (2072, 0.021198371091258956),
 (1055, 0.06525434155511725),
 (713, 0.020490983991067822),
 (22, 0.011158836054782597),
 (778, 0.01988393882447294),
 (533, 0.041673055026860084),
 (1126, 0.021033072897327077),
 (18, 0.010691387826482154),
 (2019, 0.021723963778224872),
 (807, 0.019420196959802186),
 (120, 0.012779607157418327),
 (560, 0.014467587325148861),
 (2237, 0.026610646487476044),
 (526, 0.016504202926208616),
 (831, 0.016754282618694747),
 (1041, 0.02047435790009085),
 (2343, 0.02167203259755029),
 (105, 0.014297338878300944),
 (1001, 0.01787228527270894),
 (318, 0.018472527591464723),
 (75, 0.010444684511218121),
 (306, 0.012596003557204846),
 (245, 0.012018367292894025),
 (205, 0.01556315100504085),
 (2700, 0.025015964327949454),
 (158, 0.02167809782951894),
 (765, 0.017559164742225554),
 (383, 0.013819389523269882),
 (414, 0.016125176906562507),
 (978, 0.016003444617947934),
 (810, 0.020368697156344606),
 (502, 0.017112205456474565),
 (781, 0.013254202293697098),
 (1168, 0.015882948979316615),
 (1217, 0.01757540109260166),
 (194, 0.013114970697306811),
 (3505, 0.01949697207327418),
 (1061, 0.017971364393129106),
 (989, 0.01654756771530875),
 (486, 0.015150588837392053),
 (868, 0.018563198198640815),
 (586, 0.017826665521822396),
 (1123, 0.01680324577557117),
 (506, 0.013687412679988336),
 (751, 0.015525330495947415),
 (587, 0.014654178542527782),
 (3091, 0.022711375109236178),
 (539, 0.013070247180433784),
 (1043, 0.014056668551343568),
 (475, 0.016233673634086527),
 (1212, 0.021735969341023894),
 (1944, 0.01782821153343321),
 (776, 0.04665643646673827),
 (968, 0.015901557963370026),
 (789, 0.018168886227858963),
 (1839, 0.07361351278838645),
 (742, 0.01193155723237649),
 (858, 0.014041040025587486),
 (852, 0.014651365427242177),
 (319, 0.014131251942330619),
 (979, 0.017253144315962043),
 (504, 0.0131352135647271),
 (876, 0.014097439974317786),
 (1471, 0.017786957011041285),
 (1772, 0.016686977268127873),
 (722, 0.013291560236605507),
 (131, 0.00977497080262955),
 (1988, 0.01654756771530875),
 (492, 0.011257383519176406),
 (669, 0.012252910499982034),
 (371, 0.014123170832866908),
 (145, 0.00957046732993528),
 (1374, 0.017779196903697565),
 (174, 0.010936814021601682),
 (1689, 0.018743123178473917),
 (482, 0.0121939514350083),
 (1229, 0.01641299428525661),
 (532, 0.011593007770205414),
 (1183, 0.04179164045099305),
 (282, 0.011572167688292168),
 (1088, 0.013664403671028703),
 (1076, 0.015078041715591134),
 (302, 0.012976382026751792),
 (823, 0.013372623583528243),
 (1039, 0.01548010655062797),
 (3220, 0.019421864015871957),
 (2895, 0.016566878404465284),
 (649, 0.01036528874728833),
 (960, 0.010973230490067643),
 (2113, 0.015103013381952078),
 (344, 0.011570649966476653),
 (2951, 0.016179282776363643),
 (620, 0.012093830685819765),
 (266, 0.026994781383005918),
 (890, 0.01228668111722281),
 (1338, 0.016110881637263),
 (2071, 0.01569943727328587),
 (2048, 0.016896339322070054),
 (1560, 0.012882607844372606),
 (822, 0.01527750022530475),
 (1255, 0.012626050447413394),
 (1674, 0.012872265015619697),
 (82, 0.008257298908114911),
 (255, 0.014141697290676707),
 (760, 0.020730387240557827),
 (630, 0.01069347689120452),
 (360, 0.023576902712924137),
 (689, 0.01380958356838135),
 (705, 0.011757284404562437),
 (887, 0.010908282192168349),
 (2150, 0.04636220119202199),
 (721, 0.009158893940860696),
 (2115, 0.012264389132964749),
 (2102, 0.013031212502388865),
 (3329, 0.013267966223385127),
 (895, 0.0359658551165973),
 (995, 0.019475031945110233),
 (237, 0.02416967910576878),
 (1933, 0.011704880983027745),
 (180, 0.012845426579820896),
 (2164, 0.04394481895110751),
 (1399, 0.013376691941260885),
 (263, 0.02059303104068839),
 (720, 0.03289749885033986),
 (745, 0.01164245714101249),
 (1014, 0.012292704489616163),
 (1022, 0.010413817766792776),
 (626, 0.022909238736981315),
 (1073, 0.029477245312455318),
 (1684, 0.011420294883931023),
 (706, 0.010325263482613376),
 (2240, 0.04733308392638522),
 (1972, 0.053133339188947144),
 (1182, 0.010647318234780767),
 (1394, 0.011393445994599119),
 (708, 0.009872217156998304),
 (1867, 0.010660935181126376),
 (146, 0.015711212354927687),
 (2095, 0.06506833534385173),
 (2611, 0.05088108822454103),
 (1665, 0.05404656503825575),
 (2403, 0.011342346228390825),
 (1258, 0.030086020077079334),
 (2988, 0.01217296942887226),
 (1339, 0.009867926134709711),
 (820, 0.010398941964004774),
 (1151, 0.0328774213785713),
 (2320, 0.011090859305629112),
 (213, 0.016851144240827204),
 (1588, 0.05091975004380997),
 (476, 0.02366572486318177),
 (251, 0.02089186875176238),
 (441, 0.018688322882926153),
 (3225, 0.021047527412732216),
 (449, 0.018584104337135164),
 (1551, 0.03145316134290366),
 (1064, 0.010734763956873169),
 (235, 0.018756379455523536),
 (444, 0.008324085465020996),
 (1044, 0.031005900176696778),
 (147, 0.015035781115924216),
 (1946, 0.03745117113264165),
 (614, 0.023391573520156427),
 (534, 0.01857781205102605),
 (1982, 0.04711531778479626),
 (328, 0.01628603978118764),
 (2893, 0.010106473161539278),
 (997, 0.03140880243330608),
 (602, 0.021980063063730876),
 (740, 0.02168769208259814),
 (1279, 0.00869719486456615),
 (2166, 0.011562997730580211),
 (2431, 0.010472352238993614),
 (2617, 0.009571700341476795),
 (1070, 0.012764832954183866),
 (1521, 0.016693405618737882),
 (3476, 0.012790373482054989),
 (325, 0.016926161935208923),
 (918, 0.028209474313186565),
 (1713, 0.03821484490943571),
 (1742, 0.010080914503346878),
 (2840, 0.009987126476627093),
 (270, 0.01799991815517432),
 (594, 0.017274693159566295),
 (3277, 0.009167773407810186),
 (1766, 0.00839213169122175),
 (538, 0.016475904914725982),
 (1364, 0.026088810369129512),
 (698, 0.01787709904727657),
 (1673, 0.03815447132806829),
 (747, 0.01892115264819055),
 (548, 0.021997833841726346),
 (2082, 0.03082111602810639),
 (922, 0.026687408952951876),
 (2643, 0.037303925352841286),
 (363, 0.015578770861933803),
 (1113, 0.029318656109794936),
 (239, 0.015856097312989894),
 (420, 0.017668408714891157),
 (801, 0.017812045200091307),
 (3290, 0.07035957969955228),
 (464, 0.014840879146329873),
 (1266, 0.010977768088805672),
 (3267, 0.05920553148077343),
 (374, 0.014658969860912694),
 (362, 0.014793075961715639),
 (1404, 0.026868780657166313),
 (390, 0.013670588856824782),
 (505, 0.018403245917046854),
 (2063, 0.008627911549194801),
 (647, 0.006514313115436385),
 (800, 0.018702616039817446),
 (3262, 0.043222614189274325),
 (543, 0.01932182096822527),
 (1519, 0.009951430841758988),
 (283, 0.013441336947758963),
 (2000, 0.026394627776689113),
 (973, 0.026298491154154238),
 (573, 0.01742069572720507),
 (269, 0.015087746977046533),
 (552, 0.014762776546182247),
 (1187, 0.02514535860072328),
 (1514, 0.031543614824283125),
 (1522, 0.02401105131166579),
 (992, 0.02510680708909328),
 (1132, 0.02641784401515299),
 (732, 0.018787011002791718),
 (840, 0.022019471540547703),
 (2209, 0.026156357925255933),
 (448, 0.016226315103620742),
 (546, 0.01548323673869209),
 (2015, 0.03076315833187641),
 (1379, 0.0249962326672921),
 (946, 0.008261685290154757),
 (1369, 0.024842789283354746),
 (881, 0.01971794493982081),
 (483, 0.01528143415152541),
 (2569, 0.008149488503061473),
 (2146, 0.024344267689970812),
 (2322, 0.0070070229864519495),
 (1032, 0.0236977806930791),
 (1705, 0.0322334331448043),
 (2202, 0.02884682099271589),
 (1651, 0.02180787737185058),
 (958, 0.01867753752413398),
 (759, 0.019044817099304178),
 (2151, 0.02353902165221526),
 (2562, 0.04587880402973961),
 (1995, 0.022684025816314263),
 (1011, 0.021317004200501886),
 (1570, 0.023799760939753608),
 (1840, 0.031925057939295606),
 (1407, 0.021391600615780944),
 (1197, 0.019325299998643887),
 (2331, 0.0353173486607995),
 (707, 0.012878211658634696),
 (1177, 0.02049978977694933),
 (3771, 0.007676952864141783),
 (1701, 0.01959785003728474),
 (2770, 0.033842900597162794),
 (652, 0.015438459700071737),
 (2187, 0.032397495955519474),
 (1125, 0.017334438349935928),
 (1943, 0.02152534619361899),
 (3086, 0.05480176523673327),
 (1688, 0.021066841651459705),
 (1451, 0.02457520046660449),
 (2775, 0.04556413695911736),
 (891, 0.01900316543641538),
 (1107, 0.021131124212979063),
 (1813, 0.023910850913129136),
 (1894, 0.030441375304547928),
 (2684, 0.03750669877866269),
 (1095, 0.01705900887771025),
 (1352, 0.024048072725958568),
 (300, 0.01014746196197493),
 (607, 0.011553755181467722),
 (739, 0.011578366514208736),
 (1991, 0.030699214625373072),
 (582, 0.014072378232550921),
 (1599, 0.019691728208785054),
 (863, 0.016951428573117842),
 (2647, 0.02377797842798879),
 (1142, 0.017860640394853074),
 (912, 0.01812604605992325),
 (2461, 0.03671560001891248),
 (3308, 0.046764753576858206),
 (920, 0.016939314117725188),
 (3314, 0.0418746054880388),
 (827, 0.01601947387173164),
 (1528, 0.02460409583771185),
 (3435, 0.03370986383605441),
 (1432, 0.02308896147635423),
 (1026, 0.01872069462375777),
 (2885, 0.031217714720339726),
 (2260, 0.01956485563943806),
 (2504, 0.02586980733111119),
 (1568, 0.024555178235972214),
 (3125, 0.027357178458669956),
 (2229, 0.024066449483583902),
 (1929, 0.027306191369653822),
 (564, 0.010485173346816068),
 (3109, 0.03412338911239407),
 (1961, 0.025600642857887965),
 (2279, 0.03073743817822215),
 (2243, 0.025465620166751007),
 (1176, 0.016060066534230893),
 (3300, 0.02842157983813999),
 (473, 0.008831562290605579),
 (1320, 0.01650633711106291),
 (1667, 0.01659916151425422),
 (2275, 0.02990394701855322),
 (2013, 0.023589149141044992),
 (667, 0.01191732643861473),
 (670, 0.010108046845260064),
 (1735, 0.023616349933994044),
 (1782, 0.020032467642355167),
 (1704, 0.018270602736591608),
 (1385, 0.020358017490870774),
 (1191, 0.012569923468654098),
 (1545, 0.02176907924674101),
 (3199, 0.03355856313479965),
 (1268, 0.015846452775481523),
 (2264, 0.02825805882713519),
 (1299, 0.0161945300613284),
 (1829, 0.017876470268540706),
 (3231, 0.031924387041222725),
 (2823, 0.034379851631016985),
 (780, 0.010316368218644933),
 (1437, 0.015859889978228448),
 (1300, 0.016356993944814366),
 (3101, 0.024788910444827533),
 (3178, 0.023610445643381904),
 (569, 0.011091289871623845),
 (2745, 0.020125062597519117),
 (528, 0.01084309783221872),
 (1263, 0.01396959768887393),
 (3581, 0.045520188255034746),
 (2192, 0.0261634704322958),
 (914, 0.01016864480037395),
 (2232, 0.026524759056826688),
 (2182, 0.02040581717130766),
 (317, 0.00910897075394166),
 (2960, 0.02720717821091804),
 (1525, 0.016494723104720235),
 (796, 0.012805818227363997),
 (859, 0.013423285791543628),
 (1049, 0.012086726183564381),
 (1853, 0.018819846196513553),
 (2189, 0.02400676655046331),
 (545, 0.010563624701480522),
 (2412, 0.027606435680212968),
 (1486, 0.01667375642307651),
 (2793, 0.03202576660376982),
 (1951, 0.01947437553489217),
 (1028, 0.0110257294000871),
 (849, 0.011733671774297209),
 (1630, 0.012284968490172675),
 (1015, 0.014129734147292522),
 (1604, 0.012764671278158057),
 (2288, 0.0245679246999256),
 (998, 0.01035529437988311),
 (2384, 0.02540493763653832),
 (2407, 0.02558316612371362),
 (2930, 0.01997655970216223),
 (1213, 0.015406016656931176),
 (2677, 0.028623643544211094),
 (1236, 0.014952465956548582),
 (3790, 0.025229703201491958),
 (2715, 0.02216758756043752),
 (1421, 0.01633705556960585),
 (2551, 0.02341888663730895),
 (1773, 0.012274808313553369),
 (1939, 0.01443873913146831),
 (2191, 0.020858835806732694),
 (3124, 0.019848803205932367),
 (2001, 0.016450533932161913),
 (3335, 0.030136779842578953),
 (3049, 0.021926118991738172),
 (1838, 0.01722214533205922),
 (1541, 0.01594093652572008),
 (923, 0.009385489741657238),
 (1146, 0.010943105646374254),
 (2538, 0.015752189995083588),
 (2027, 0.01664310868531676),
 (2319, 0.023145291121491943),
 (3165, 0.022297465562803022),
 (2772, 0.028351237920328953),
 (2721, 0.01798742248163249),
 (3137, 0.019293979789630194),
 (3418, 0.034775619382875066),
 (1765, 0.018232936923022688),
 (3266, 0.027889661233533074),
 (3169, 0.019048219199114175),
 (3285, 0.0203288143526704),
 (2760, 0.027381349240791004),
 (2484, 0.02221673197324362),
 (2580, 0.024453902735163967),
 (2296, 0.021985969428897245),
 (2708, 0.015582725452202741),
 (2659, 0.015114812714694684),
 (3590, 0.030054516584315176),
 (2135, 0.01261679292421584),
 (1883, 0.018175039948862593),
 (3538, 0.02772182098476071),
 (1856, 0.016910965798659673),
 (1611, 0.01248581087928536),
 (2080, 0.018548659470664274),
 (1179, 0.01273344559805916),
 (3556, 0.03412997778552505),
 (2892, 0.027833730398041226),
 (2463, 0.01577593037153159),
 (1977, 0.01853695320901076),
 (2245, 0.020572638209678112),
 (948, 0.007916180871289062),
 (2903, 0.017306096228856017),
 (2109, 0.0176874769163905),
 (2459, 0.017715415341954803),
 (1790, 0.015491817529556565),
 (2446, 0.015392476382705451),
 (3181, 0.02374287627841561),
 (2693, 0.02408911061622797),
 (2740, 0.014691829698877173),
 (1526, 0.015162857429623132),
 (970, 0.011260422298735789),
 (1203, 0.008789572080898969),
 (2915, 0.021783301393677845),
 (1715, 0.015125514560770933),
 (2510, 0.020332714105903153),
 (2332, 0.012433853434716946),
 (2341, 0.019741439016472684),
 (1321, 0.011283985709639207),
 (2664, 0.013816124824642444),
 (3536, 0.03748273347195799),
 (425, 0.007255122038904896),
 (3009, 0.021382558371898015),
 (3017, 0.022442050439362114),
 (3778, 0.020706203093820288),
 (3801, 0.020665235001618328),
 (3115, 0.019480078896766798),
 (1868, 0.0150000216940729),
 (3296, 0.017913814214698287),
 (3365, 0.024235514198448892),
 (3522, 0.024292632273790297),
 (1866, 0.014756971631485054),
 (3023, 0.025425551398656376),
 (3626, 0.03701566427613553),
 (3444, 0.02553765529823585),
 (3495, 0.03895575241072305),
 (2905, 0.018416063959997925),
 (2462, 0.020565319081347355),
 (1314, 0.01267173937687998),
 (3405, 0.025956839774385464),
 (3520, 0.03428609072460232),
 (1112, 0.011175339179318254),
 (2455, 0.019973205384773787),
 (2421, 0.011777758036443011),
 (2153, 0.010558374745408806),
 (1423, 0.012712901566156948),
 (1805, 0.011278370481745178),
 (1543, 0.011127516964764845),
 (1590, 0.013717668657129407),
 (1770, 0.013153390447517403),
 (2310, 0.011822098286357144),
 (3531, 0.022977873581081623),
 (3385, 0.021951549320007518),
 (2094, 0.012512554187414785),
 (3610, 0.024313118186454076),
 (3568, 0.027542852620081965),
 (2727, 0.018955082527564105),
 (1071, 0.009605739530692227),
 (2873, 0.018552424193850846),
 (3774, 0.018141156561245365),
 (951, 0.007929584528145857),
 (1310, 0.011479053975566781),
 (2041, 0.012445713072394225),
 (3172, 0.01871702262123302),
 (3469, 0.018101381245076365),
 (2813, 0.021683585485898375),
 (2517, 0.01894396663017648),
 (3451, 0.027065601944072443),
 (2535, 0.018912693277885997),
 (3112, 0.018255907822563276),
 (1550, 0.010223982425328444),
 (1975, 0.011823718745998298),
 (2625, 0.017416421492670017),
 (1328, 0.010586700656621156),
 (2313, 0.016167655212402186),
 (1916, 0.010804535367317967),
 (2568, 0.01820761714665841),
 (3349, 0.023625571921197516),
 (3107, 0.02266620875150658),
 (3554, 0.02552521567370042),
 (1819, 0.011116408093951),
 (2016, 0.013450058068929153),
 (2828, 0.017611466803034537),
 (2139, 0.011676964026655755),
 (1614, 0.009053347955516274),
 (1994, 0.011985783398659619),
 (1464, 0.011112395692505186),
 (3011, 0.014540068336383999),
 (2711, 0.012159240385450281),
 (2644, 0.01170920771691501),
 (1925, 0.011167419480712263),
 (1723, 0.009160502060169074),
 (3240, 0.017448871746193324),
 (3098, 0.01596614846528205),
 (3569, 0.019736050829112423),
 (2738, 0.017796016219583228),
 (3455, 0.026595278180554172),
 (1761, 0.012177964433873567),
 (1931, 0.012926926420970033),
 (2717, 0.01587161779521742),
 (1103, 0.007915920993712602),
 (2971, 0.015152541848847075),
 (3093, 0.02002540042636638),
 (3284, 0.020236946032505938),
 (2872, 0.014078048964548449),
 (3081, 0.016152596003897027),
 (3072, 0.0155602857507001),
 (1161, 0.008930590327343746),
 (2993, 0.017417935002886863),
 (1774, 0.0115158787763754),
 (2571, 0.01378157572864733),
 (2223, 0.013739807307158215),
 (2172, 0.011105248623796566),
 (2494, 0.012080211359901522),
 (3000, 0.01375579521409016),
 (1267, 0.008355132556744162),
 (2017, 0.012602586590983409),
 (3579, 0.026021232975029597),
 (2193, 0.012212058186164809),
 (2055, 0.010618133832431969),
 (2479, 0.011510292617503368),
 (2444, 0.014723145990366079),
 (3324, 0.016567869770412805),
 (2877, 0.01510972343576974),
 (1238, 0.008348477764571717),
 (3350, 0.01986480048837572),
 (3665, 0.027073298239440356),
 (3052, 0.019056526194273116),
 (3245, 0.015201985270635175),
 (1506, 0.008498553583110814),
 (1430, 0.008804782294942796),
 (3511, 0.018602037321123102),
 (3431, 0.013178625296695428),
 (1621, 0.00781400220441114),
 (2739, 0.015449027430247212),
 (3189, 0.015773249809691428),
 (1273, 0.007706041152400248),
 (2911, 0.011145812268156337),
 (3606, 0.023191096778358233),
 (2377, 0.011713097914445567),
 (2874, 0.011097060690711466),

In [185]:
both = sorted(list(enumerate(cosine_sim[1])), reverse=True, key=lambda x: x[1]*new_df.iloc[x[0]]['weighted_score'])
top_both = [new_df.iloc[i[0]]['title'] for i in both[1:6]]

In [186]:
top_both

['Beetlejuice',
 'Subservience',
 'Batman',
 'Crimson Snout',
 'His Three Daughters']

In [192]:
new_df.iloc[1].to_dict()

{'id': '519182',
 'title': 'Despicable Me 4',
 'overview': 'Gru and Lucy and their girls—Margo, Edith and Agnes—welcome a new member to the Gru family, Gru Jr., who is intent on tormenting his dad. Gru also faces a new nemesis in Maxime Le Mal and his femme fatale girlfriend Valentina, forcing the family to go on the run.',
 'release_date': '2024-06-20',
 'popularity': 1743.127,
 'vote_average': 7.169,
 'vote_count': 1670,
 'overview_clean': 'gru and lucy and their girlsmargo edith and agneswelcome a new member to the gru family gru jr who is intent on tormenting his dad gru also faces a new nemesis in maxime le mal and his femme fatale girlfriend valentina forcing the family to go on the run',
 'popularity_log': 1.0,
 'vote_count_log': 0.7315971789433705,
 'vote_average_log': 0.8759125246986305,
 'weighted_score': 0.9090931931982633}

In [194]:
for i in top_sim:
    print(new_df[new_df.title==i].to_dict())
    print()

{'id': {1836: '1358221'}, 'title': {1836: 'Femme'}, 'overview': {1836: 'A fanciful, darkly comedic look at what it means to be a person who bleeds, as viewed through the dreamy lens of a day in the life of the title character, Femme. FEMME mixes modern and vintage styles of storytelling, creating a unique silent film experience.'}, 'release_date': {1836: '2024-09-20'}, 'popularity': {1836: 5.379}, 'vote_average': {1836: 0.0}, 'vote_count': {1836: 0}, 'overview_clean': {1836: 'a fanciful darkly comedic look at what it means to be a person who bleeds as viewed through the dreamy lens of a day in the life of the title character femme femme mixes modern and vintage styles of storytelling creating a unique silent film experience'}, 'popularity_log': {1836: 0.24825951312039868}, 'vote_count_log': {1836: 0.0}, 'vote_average_log': {1836: 0.0}, 'weighted_score': {1836: 0.12412975656019934}}

{'id': {2062: '1357218'}, 'title': {2062: 'Out to Pasture'}, 'overview': {2062: 'A mafia hitman known as Le Shark goes on the run in small town Montana after what was supposed to be his last job before retirement goes wrong'}, 'release_date': {2062: '2024-09-15'}, 'popularity': {2062: 2.991}, 'vote_average': {2062: 0.0}, 'vote_count': {2062: 0}, 'overview_clean': {2062: 'a mafia hitman known as le shark goes on the run in small town montana after what was supposed to be his last job before retirement goes wrong'}, 'popularity_log': {2062: 0.18542873510004498}, 'vote_count_log': {2062: 0.0}, 'vote_average_log': {2062: 0.0}, 'weighted_score': {2062: 0.09271436755002249}}

{'id': {4439: '1339099'}, 'title': {4439: 'Behind The White Wall'}, 'overview': {4439: 'A Korean immigrant dad, working as a construction painter, mentors a new young worker while simultaneously battling melancholia and guilt as he awaits the arrival of his family.'}, 'release_date': {4439: nan}, 'popularity': {4439: 0.143}, 'vote_average': {4439: 0.0}, 'vote_count': {4439: 0}, 'overview_clean': {4439: 'a korean immigrant dad working as a construction painter mentors a new young worker while simultaneously battling melancholia and guilt as he awaits the arrival of his family'}, 'popularity_log': {4439: 0.017906781361003748}, 'vote_count_log': {4439: 0.0}, 'vote_average_log': {4439: 0.0}, 'weighted_score': {4439: 0.008953390680501874}}

{'id': {599: '1222274'}, 'title': {599: 'Crimson Snout'}, 'overview': {599: 'The return of Nam and his girlfriend Xuan brings countless troubles to the family. He gradually discovers the broken relationships of the family members.'}, 'release_date': {599: '2023-12-29'}, 'popularity': {599: 16.781}, 'vote_average': {599: 4.0}, 'vote_count': {599: 5}, 'overview_clean': {599: 'the return of nam and his girlfriend xuan brings countless troubles to the family he gradually discovers the broken relationships of the family members'}, 'popularity_log': {599: 0.385601130491128}, 'vote_count_log': {599: 0.17663587321302363}, 'vote_average_log': {599: 0.6711877414712396}, 'weighted_score': {599: 0.4294840623295406}}

{'id': {3944: '1293358'}, 'title': {3944: 'Lullabye'}, 'overview': {3944: 'At the end of life, an old female moneylender faces a financial crisis. She still chose to do for her own desires, ignoring the warnings from the last remaining family member.'}, 'release_date': {3944: '2024-07-12'}, 'popularity': {3944: 0.956}, 'vote_average': {3944: 0.0}, 'vote_count': {3944: 0}, 'overview_clean': {3944: 'at the end of life an old female moneylender faces a financial crisis she still chose to do for her own desires ignoring the warnings from the last remaining family member'}, 'popularity_log': {3944: 0.08988487736264074}, 'vote_count_log': {3944: 0.0}, 'vote_average_log': {3944: 0.0}, 'weighted_score': {3944: 0.04494243868132037}}

In [193]:
for i in top_both:
    print(new_df[new_df.title==i].to_dict())
    print()

{'id': {17: '4011'}, 'title': {17: 'Beetlejuice'}, 'overview': {17: 'A newly dead New England couple seeks help from a deranged demon exorcist to scare an affluent New York family out of their home.'}, 'release_date': {17: '1988-03-30'}, 'popularity': {17: 761.713}, 'vote_average': {17: 7.376}, 'vote_count': {17: 7089}, 'overview_clean': {17: 'a newly dead new england couple seeks help from a deranged demon exorcist to scare an affluent new york family out of their home'}, 'popularity_log': {17: 0.8891845438131053}, 'vote_count_log': {17: 0.874074622190313}, 'vote_average_log': {17: 0.8863483312546443}, 'weighted_score': {17: 0.8853116957210085}}

{'id': {7: '1064028'}, 'title': {7: 'Subservience'}, 'overview': {7: "With his wife out sick, a struggling father brings home a lifelike AI, only to have his self-aware new help want everything her new family has to offer... Like the affection of her owner and she'll kill to get it."}, 'release_date': {7: '2024-08-15'}, 'popularity': {7: 782.071}, 'vote_average': {7: 6.2}, 'vote_count': {7: 76}, 'overview_clean': {7: 'with his wife out sick a struggling father brings home a lifelike ai only to have his selfaware new help want everything her new family has to offer like the affection of her owner and shell kill to get it'}, 'popularity_log': {7: 0.8927136866017361}, 'vote_count_log': {7: 0.4282225806163348}, 'vote_average_log': {7: 0.8232557311471885}, 'weighted_score': {7: 0.7789780787682915}}

{'id': {144: '268'}, 'title': {144: 'Batman'}, 'overview': {144: 'Batman must face his most ruthless nemesis when a deformed madman calling himself "The Joker" seizes control of Gotham\'s criminal underworld.'}, 'release_date': {144: '1989-06-21'}, 'popularity': {144: 60.703}, 'vote_average': {144: 7.234}, 'vote_count': {144: 7712}, 'overview_clean': {144: 'batman must face his most ruthless nemesis when a deformed madman calling himself the joker seizes control of gothams criminal underworld'}, 'popularity_log': {144: 0.5522946607540217}, 'vote_count_log': {144: 0.8823774133508614}, 'vote_average_log': {144: 0.8792176819662919}, 'weighted_score': {144: 0.7163881176370707}}

{'id': {599: '1222274'}, 'title': {599: 'Crimson Snout'}, 'overview': {599: 'The return of Nam and his girlfriend Xuan brings countless troubles to the family. He gradually discovers the broken relationships of the family members.'}, 'release_date': {599: '2023-12-29'}, 'popularity': {599: 16.781}, 'vote_average': {599: 4.0}, 'vote_count': {599: 5}, 'overview_clean': {599: 'the return of nam and his girlfriend xuan brings countless troubles to the family he gradually discovers the broken relationships of the family members'}, 'popularity_log': {599: 0.385601130491128}, 'vote_count_log': {599: 0.17663587321302363}, 'vote_average_log': {599: 0.6711877414712396}, 'weighted_score': {599: 0.4294840623295406}}

{'id': {127: '1154762'}, 'title': {127: 'His Three Daughters'}, 'overview': {127: 'Emotions run high when three estranged sisters reunite in a cramped New York City apartment to watch over their ailing father during his final days.'}, 'release_date': {127: '2024-09-05'}, 'popularity': {127: 87.065}, 'vote_average': {127: 6.932}, 'vote_count': {127: 44}, 'overview_clean': {127: 'emotions run high when three estranged sisters reunite in a cramped new york city apartment to watch over their ailing father during his final days'}, 'popularity_log': {127: 0.5999557241225025}, 'vote_count_log': {127: 0.37526976385816485}, 'vote_average_log': {127: 0.8636345524134504}, 'weighted_score': {127: 0.6341221805569193}}

Based on the scores for Relevance, Diversity, and Quality, here's a summary:

Approach	Relevance	Diversity	Quality	Total Score
Cosine Similarity-Only	5/10	6/10	5/10	5/10
Cosine Similarity + Weighted Score	8/10	7/10	8/10	7.5/10
Conclusion:
The Cosine Similarity + Weighted Score approach provides better relevance, diversity, and quality of recommendations. The inclusion of both popularity, ratings, and count-based adjustments leads to more sensible recommendations, though some titles (like Subservience and His Three Daughters) still seem off-track.
Cosine Similarity-Only provides a more random assortment of movies, many of which don’t align well with the target audience of Despicable Me 4.
Thus, Cosine Similarity + Weighted Score is the better approach overall, but there may be room for further refinement.

In [195]:
def get_recommendations(title, cosine_sim, new_df, top_n=5):
    idx = new_df[new_df['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort by similarity and apply weighted score
    sim_scores = sorted(
        sim_scores, key=lambda x: (x[1] * new_df.iloc[x[0]]['weighted_score']), reverse=True
    )
    
    top_indices = [i[0] for i in sim_scores[1:top_n + 1]]  # Exclude itself
    return new_df.iloc[top_indices][['title', 'overview','popularity_log', 'vote_average_log']]

In [200]:
get_recommendations('The Crow', cosine_sim, new_df, top_n=5)

,title,overview,popularity_log,vote_average_log
289,Tucker and Dale vs. Evil,Two hillbillies are suspected of being killers...,0.450489,0.885850
37,Mayhem!,Sam is a professional boxer about to get relea...,0.783258,0.849518
40,Late Night with the Devil,A live broadcast of a late-night talk show in ...,0.774387,0.883701
103,Long Gone Heroes,A special forces soldier who has given up coun...,0.578149,0.710935
1017,The Witch. Revenge,The tale unfolds around an ancient witch from ...,0.319446,0.873660

In [210]:
def get_recommendations(title, cosine_sim, new_df, top_n=5):
    idx = new_df[new_df['title'] == title].index[0]
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # Sort by similarity and apply weighted score
    sim_scores = sorted(
        sim_scores, key=lambda x: (x[1] * new_df.iloc[x[0]]['weighted_score']), reverse=True
    )
    
    top_indices = [i[0] for i in sim_scores[1:top_n + 1]]
    # Exclude itself
    
    return top_indices

In [209]:
get_recommendations('The Crow', cosine_sim, new_df, top_n=5)

[286, 37, 40, 102, 950]

In [211]:
new_df.iloc[286]

id                                                              46838
title                                        Tucker and Dale vs. Evil
overview            Two hillbillies are suspected of being killers...
release_date                                               2010-01-22
popularity                                                      27.86
vote_average                                                    7.366
vote_count                                                       2696
overview_clean      two hillbillies are suspected of being killers...
popularity_log                                               0.450489
vote_count_log                                                0.77879
vote_average_log                                              0.88585
weighted_score                                               0.646758
Name: 289, dtype: object

In [214]:
new_df.iloc[286]['popularity_log']*10

4.50489323207602

In [196]:
# import pickle

In [198]:
# pickle.dump(new_df, open('latest_movies.pkl', 'wb'))
# pickle.dump(cosine_sim, open('cosine_similarity.pkl', 'wb'))

In [199]:
# pickle.load(open('latest_movies.pkl', 'rb'))

,id,title,overview,release_date,popularity,vote_average,vote_count,overview_clean,popularity_log,vote_count_log,vote_average_log,weighted_score
0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,2024-08-21,4.000,5.314,287,soulmates eric and shelly are brutally murdere...,0.215626,0.558268,0.768495,0.450015
1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2024-06-20,1743.127,7.169,1670,gru and lucy and their girlsmargo edith and ag...,1.000000,0.731597,0.875913,0.909093
2,365177,Borderlands,"Returning to her home planet, an infamous boun...",2024-08-07,1689.252,5.898,566,returning to her home planet an infamous bount...,0.995796,0.625048,0.805386,0.864523
3,917496,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",2024-09-04,1434.179,7.122,641,after a family tragedy three generations of th...,0.973879,0.637294,0.873506,0.876450
4,646097,Rebel Ridge,A former Marine confronts corruption in a smal...,2024-08-27,1107.009,7.040,633,a former marine confronts corruption in a smal...,0.939216,0.636058,0.869274,0.857602
...,...,...,...,...,...,...,...,...,...,...,...,...
4620,1359894,Airing,In the open air.,2024-08-31,1.265,0.000,0,in the open air,0.109536,0.000000,0.000000,0.054768
4621,1359870,Fabrizio Copano: Live From Caupolicán,"In his latest stand-up special, Fabrizio Copan...",2024-09-20,1.400,0.000,0,in his latest standup special fabrizio copano ...,0.117292,0.000000,0.000000,0.058646
4622,1359861,America's First Guru,America's First Guru is the compelling story o...,2024-09-01,1.305,0.000,0,americas first guru is the compelling story of...,0.111881,0.000000,0.000000,0.055940
4623,1359851,CBeebies Prom: Wildlife Jamboree,A brand new CBeebies Prom from the Royal Alber...,2024-09-14,1.400,0.000,0,a brand new cbeebies prom from the royal alber...,0.117292,0.000000,0.000000,0.058646
4624,1359849,Andres Teran vs. Yehison Cuello,Mexican bantamweight Andres Teran will fight C...,2024-09-21,1.400,0.000,0,mexican bantamweight andres teran will fight c...,0.117292,0.000000,0.000000,0.058646

In [233]:
required.head()

,id,title,overview,vote_count,popularity_log,vote_average_log,weighted_score
0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,287,0.215626,0.768495,0.450015
1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",1670,1.000000,0.875913,0.909093
2,365177,Borderlands,"Returning to her home planet, an infamous boun...",566,0.995796,0.805386,0.864523
3,917496,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",641,0.973879,0.873506,0.876450
4,646097,Rebel Ridge,A former Marine confronts corruption in a smal...,633,0.939216,0.869274,0.857602

In [215]:
pickle.load(open('cosine_similarity.pkl', 'rb'))

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.01262983,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.01262983, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [217]:
required = new_df.drop(columns=['release_date', 'popularity', 'vote_average', 'overview_clean', 'vote_count_log' ])

In [218]:
required.to_csv('Required_df.csv')

In [223]:
cosine_df = pd.DataFrame(cosine_sim)

In [230]:
cosine_df.to_csv('cosine_df.csv')

In [228]:
npc = cosine_df.to_numpy()

In [229]:
npc

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.01262983,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.01262983, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [232]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.        , 0.01262983,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.01262983, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [236]:
np.savetxt("cosine_sim.csv", cosine_sim, delimiter=",")

In [ ]:
# cosine_similarity_loaded = np.loadtxt("cosine_similarity.csv", delimiter=",")