# Building a Movie Recommendation System

## Importing The Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

# Loading The Dataset

In [27]:
movies = pd.read_csv('latest_movies_2024.csv', parse_dates=['release_date'])

In [28]:
movies.shape

(4704, 11)

In [29]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4704 entries, 0 to 4703
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4704 non-null   object
 1   id            4697 non-null   object
 2   title         4697 non-null   object
 3   overview      3873 non-null   object
 4   release_date  4664 non-null   object
 5   popularity    4687 non-null   object
 6   vote_average  4687 non-null   object
 7   vote_count    4687 non-null   object
 8   Unnamed: 8    11 non-null     float64
 9   Unnamed: 9    1 non-null      float64
 10  Unnamed: 10   1 non-null      float64
dtypes: float64(3), object(8)
memory usage: 404.4+ KB

In [30]:
movies.head()

,Unnamed: 0,id,title,overview,release_date,popularity,vote_average,vote_count,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,2024-08-21,4065.642,5.314,287,NaN,NaN,NaN
1,1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2024-06-20,1743.127,7.169,1670,NaN,NaN,NaN
2,2,365177,Borderlands,"Returning to her home planet, an infamous boun...",2024-08-07,1689.252,5.898,566,NaN,NaN,NaN
3,3,917496,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",2024-09-04,1434.179,7.122,641,NaN,NaN,NaN
4,4,646097,Rebel Ridge,A former Marine confronts corruption in a smal...,2024-08-27,1107.009,7.04,633,NaN,NaN,NaN

In [31]:
movies.drop(columns=['Unnamed: 0', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'], inplace=True)

In [32]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4704 entries, 0 to 4703
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4697 non-null   object
 1   title         4697 non-null   object
 2   overview      3873 non-null   object
 3   release_date  4664 non-null   object
 4   popularity    4687 non-null   object
 5   vote_average  4687 non-null   object
 6   vote_count    4687 non-null   object
dtypes: object(7)
memory usage: 257.4+ KB

In [33]:
movies.duplicated().sum()

75

In [35]:
movies[movies.duplicated(keep=False)]

,id,title,overview,release_date,popularity,vote_average,vote_count
59,1051891,Thelma,When 93-year-old Thelma Post gets duped by a p...,2024-06-21,193.644,7.106,109
60,1051891,Thelma,When 93-year-old Thelma Post gets duped by a p...,2024-06-21,193.644,7.106,109
85,814889,Never Let Go,As an evil takes over the world beyond their f...,2024-09-18,95.913,4.7,3
106,814889,Never Let Go,As an evil takes over the world beyond their f...,2024-09-18,95.913,4.7,3
199,1340571,Lord of the Wolves,When his housemate dies under mysterious circu...,2024-09-20,21.136,0,0
...,...,...,...,...,...,...,...
4692,1359978,Dolors,NaN,2024-09-21,1.4,0,0
4693,1359976,Do It For The Gram,A professor at a prestigious college faces lif...,2024-09-20,1.4,0,0
4694,1359963,Harsh Look,A look into the Boy's average day.,2024-09-21,1.4,0,0
4695,1359954,FEAR,a story about a teenagers who got bullied in s...,2024-09-05,1.4,0,0
4696,1359920,The Mind of a Prankster,The story behind a pair of pranksters that may...,2024-09-12,1.4,10,1

In [37]:
movies.drop_duplicates(inplace=True)

In [38]:
movies.duplicated().sum()

0

In [39]:
movies.columns

Index(['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average',
       'vote_count'],
      dtype='object')

In [40]:
movies[['title', 'overview', 'release_date', 'popularity', 'vote_average',
       'vote_count']].duplicated().sum()

0

In [42]:
movies['release_date'].unique()

array(['2024-08-21', '2024-06-20', '2024-08-07', '2024-09-04',
       '2024-08-27', '2024-09-10', '2024-09-11', '2024-08-15',
       '2024-08-13', '2024-04-30', '2024-04-01', '2024-09-07',
       '2024-07-10', '2024-04-23', '2024-08-22', '1988-03-30',
       '2024-07-03', '2024-09-12', '2024-05-31', '2024-04-11',
       '2024-07-31', '2024-03-15', '2024-08-16', '2024-03-14',
       '2024-08-02', '2024-09-05', '2024-05-30', '2024-08-23',
       '2024-09-06', '2023-06-28', '2024-08-01', '2024-03-19',
       '2024-08-28', '2009-02-05', '2024-08-20', '2024-03-22',
       '2024-07-19', '2003-12-17', '2024-04-19', '2001-12-18',
       '2019-10-01', '2024-08-29', '2024-04-24', '2024-05-15',
       '2024-01-18', '2024-01-24', '2024-06-21', '2024-04-26',
       '2024-07-04', '2024-09-19', '2024-08-18', '2023-05-31',
       '2024-07-26', '2024-09-20', '2023-11-03', '2024-04-16',
       '1994-06-24', '2024-04-03', '2024-05-16', '2021-10-13',
       '2024-08-30', '2024-04-04', '2024-03-08', '2004-05-19',
       '2023-07-14', '2024-08-08', '2024-09-18', '2024-06-07',
       '2024-06-26', '2007-05-01', '2024-02-22', '2024-06-28',
       '1977-05-25', '2018-10-12', '2024-04-10', '2024-01-10',
       '2024-07-05', '2024-08-09', '2024-09-17', '1999-03-31',
       '2024-04-12', '2024-06-19', '2023-12-06', '2024-01-05',
       '2023-06-02', '2014-10-22', '2024-03-21', '2024-06-17',
       '2024-07-13', '2024-05-03', '2024-05-08', '2023-09-13',
       '2024-03-06', '2024-09-25', '2023-11-05', '2024-09-13',
       '2023-03-31', '2024-07-11', '1989-06-21', '2023-09-20',
       '2024-01-11', '2023-01-22', '2023-12-14', '2024-09-03',
       '2023-12-27', '2024-02-07', '1979-08-15', '1979-08-14',
       '2024-06-27', '2024-04-18', '2023-11-09', '2024-09-21',
       '2024-01-26', '2024-09-22', '2024-02-20', '2009-12-12',
       '2024-03-27', '2004-09-09', '2015-02-04', '2004-04-09',
       '2023-08-05', '2024-01-27', '2022-10-21', '2024-09-02',
       '1987-07-17', '2023-11-08', '2024-05-01', '2023-12-21',
       '2000-09-29', '1977-02-01', '2024-09-23', '2023-12-08',
       '2023-10-04', '2024-07-25', '2023-09-07', '2024-03-07',
       '2023-10-26', '2023-07-20', '1991-07-20', '2024-08-14',
       '1995-11-18', '2023-04-12', '2023-10-05', '2010-07-16',
       '2024-07-12', '2024-09-15', '2023-08-30', '2023-11-01',
       '2022-09-09', '2010-01-22', '2023-09-15', '2023-08-18',
       '2023-12-22', '2024-07-18', '2023-04-20', '2016-01-22',
       '2019-10-25', '2014-08-21', '1994-05-12', '2023-05-12',
       '2024-05-09', '2004-06-16', '2023-02-01', '2023-01-25',
       '2023-05-16', '2024-09-24', '2024-04-05', '1999-07-17',
       '1997-12-27', '2022-04-07', '1975-03-14', '2024-09-14',
       '1993-06-05', '2023-09-29', '1949-08-31', '2024-09-01',
       '2023-08-11', '2023-10-20', '2023-12-01', '2024-09-16',
       '2024-03-01', '1969-06-02', '2022-06-09', '2023-10-13',
       '2023-05-04', '2023-04-21', '2024-08-31', '2024-06-12',
       '2024-05-29', '2009-10-22', '2023-11-22', '2024-02-09',
       '2022-09-02', '1994-01-26', '2023-11-02', '2023-05-24',
       '2023-07-05', '2023-03-23', '2024-02-23', '1997-12-19',
       '1946-08-23', '2022-06-27', '2013-04-26', '2023-09-22',
       '2023-09-01', '1967-10-25', '1993-09-08', '2024-08-24',
       '2022-10-20', '2021-10-14', '2024-09-08', '2024-02-14',
       '1959-01-07', '2023-04-16', '2024-08-26', '2024-06-13',
       '1989-07-15', '1960-05-16', '1974-10-04', '2023-08-24',
       '2024-03-28', '2023-12-29', '2024-08-19', '2023-06-07',
       '2024-06-14', '2024-08-25', '2001-10-31', '2012-12-25',
       '1986-05-09', '1944-07-06', '2023-10-19', '2023-11-10',
       '2023-03-02', '2022-02-01', '1964-08-05', '1996-12-21',
       '2023-11-21', '2021-06-11', '2024-07-06', '1994-05-31',
       '2023-10-17', '2009-09-24', '2023-04-27', '1993-12-25',
       '2018-08-16', '1988-03-11', '2023-09-27', '2023-08-16',
       '2022-09-21', '1993-02-05', '2023-01-18', '2024-05-21',
       '2022-10-28', '1974-11-18', '2024-08-10', '1954-11-23',
       '1987-12-11', '2024-03-29', '2023-02-24', '2022-07-13',
       '2023-11-16', '2023-09-08', '2023-10-21', '2024-08-03',
       '2023-07-24', '2023-11-24', '2023-06-15', '1984-11-16',
       '2022-04-22', '2024-04-20', nan, '0', '1981-04-17', '2023-07-27',
       '2023-08-02', '2023-10-11', '2021-06-18', '2023-01-26',
       '1988-08-21', '1984-10-25', '2022-04-29', '2024-09-09',
       '2024-04-25', '2023-11-30', '2024-02-29', '2021-09-24',
       '1974-03-05', '2024-02-27', '2024-02-10',
       ' his final wish to have one last perfect weekend sends everyone into a whirlwind of buried family secrets and conflict.',
       '2024-05-10', '2023-11-15', '2024-02-28', '2015-10-17',
       '2002-07-24', '2023-03-22', '2024-05-24', '1959-11-03',
       '2023-01-12', '2023-11-23', '2023-05-11', '2024-01-25',
       '2020-11-11', '2023-10-18', '2022-04-20', '2023-07-28',
       '2023-04-04', '1985-12-01', '2024-07-17', '2000-02-25',
       '2016-09-09', '2022-10-22', '1998-01-10', '1973-09-01',
       '1972-09-15', '2023-10-27', '1998-11-27', '2024-08-06',
       '2024-07-08', '1981-05-01',
       "I enjoy religion, I appreciate belief systems and how they offer structure to people's lives. I also appreciate how spirituality manifests itself in Asian cultures as this almost earthbound presence guiding people through every day life and when they need an extra bit of help they need only ask whichever deity holds dominion over their desire.  Here is an experimental film I made with videos from my iPhone. Shot across Taiwan and South Korea.  An experimental film I made with videos from my iPhone. Shot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, the satisfaction of small moments, spirituality, superstition, and daily rituals.",
       '2024-08-17', '2024-05-17', '2024-05-07', '2024-04-13',
       '1993-03-20', '2024-04-17', '2022-02-18', '2021-10-28',
       '2023-01-13', '2023-08-25',
       'Two tales of migration. In the first,\u202fafter a tailings dam disaster floods her hometown, rural worker Joana (55) moves to São Paulo\u202fto find her sister Tania, who lives with her grandson Jaime. Joana enters the universe of insecurity, replying to an application for house cleaning. She bonds with her colleagues, and their struggle for better conditions gives Joana’s life a new meaning. Her relationship with young Jaime brings back old memories. In the second part, after the death of her estranged father, Flavia (32) moves to her farm with her wife Mara. The couple suffer a shock of reality when facing the harshness of rural life. The contact with the abandoned house reveals to Flavia unknown aspects of her father. She begins to suspect that there is something supernatural in the woods.',
       '2022-03-04', '2024-02-02', '2023-05-07', '2022-09-01',
       '1986-02-21', '2024-06-06', '2023-10-12', '2024-07-27',
       '2023-09-14', '2023-03-18',
       ' a moment of introspection while transitioning from one environment to the next.',
       '1984-06-24', '2024-02-08', '2023-04-03', '2024-02-03',
       '2024-02-12', '2023-06-01', '2014-08-27', '2023-06-29',
       '2020-06-09', '2023-12-07',
       ' why they came and what had happened in Chile.', '2023-03-11',
       '1964-11-19', '2024-03-13', '2023-12-28', '2016-07-01',
       '2022-07-08',
       ' he proposes marriage to Katya. But this fabulous walk will have an unexpected ending.',
       '2022-12-02', '1979-12-21', '2009-07-01', '2022-04-21',
       '2024-04-15', '2023-01-03', '2021-07-16', '2024-02-01',
       '2023-12-10', ' BEER.', '2023-08-31', '2022-10-03', '2023-04-23',
       '2023-06-13', '1971-11-05', '1908-02-01', '2023-11-17',
       '2022-05-21', '2024-05-11', '2022-07-21', '2002-11-04',
       '2023-12-04', '1998-07-22', '2021-12-10', '1955-07-18',
       ' he is drawn to the spicy life of a queer vaudeville troupe performing in his village.',
       '2022-10-06', '2022-06-16', '2021-11-17', '2024-03-20',
       '2023-10-07', '2023-11-06', '2024-06-11', '2024-03-05',
       'Drawing its title from a song by Afghan singer Ahmad Zahir, "you have black eyes" is a stream-of-consciousness montage depicting collective bodies in a constant state of disruption, movement, processing, and grieving. It celebrates the body as a historical, domestic site of resistance through dance and movement including found footage of ants carrying flowers, rubab player Ustad Beltoon interrupted, and Hazara throat singing across an imaginary landscape.',
       '2022-04-01', '2023-11-27', '2007-10-11', '2020-09-11',
       '2023-07-21', '2023-07-11', '2024-06-18', '2023-07-18',
       '2023-08-12', '2023-05-08', '2021-08-24', '2023-02-25',
       '2023-06-14', '2020-11-25',
       ' an illusion between two-dimensionality and three-dimensionality',
       '2023-01-01'], dtype=object)

In [41]:
movies.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,957452,The Crow,Soulmates Eric and Shelly are brutally murdere...,2024-08-21,4065.642,5.314,287
1,519182,Despicable Me 4,"Gru and Lucy and their girls—Margo, Edith and ...",2024-06-20,1743.127,7.169,1670
2,365177,Borderlands,"Returning to her home planet, an infamous boun...",2024-08-07,1689.252,5.898,566
3,917496,Beetlejuice Beetlejuice,"After a family tragedy, three generations of t...",2024-09-04,1434.179,7.122,641
4,646097,Rebel Ridge,A former Marine confronts corruption in a smal...,2024-08-27,1107.009,7.04,633

In [43]:
pd.DataFrame({'count': movies.isna().sum(), 'percent': movies.isna().sum()/len(movies)})

              count   percent
id                1  0.000216
title             1  0.000216
overview        809  0.174768
release_date     34  0.007345
popularity       11  0.002376
vote_average     11  0.002376
vote_count       11  0.002376

In [44]:
movies[movies['title'].isna()]

       id title overview release_date popularity vote_average vote_count
2460  NaN   NaN      NaN          NaN        NaN          NaN        NaN

In [22]:
movies.iloc[2460]

id              NaN
title           NaN
overview        NaN
release_date    NaN
popularity      NaN
vote_average    NaN
vote_count      NaN
Name: 2460, dtype: object

In [45]:
movies.drop(movies[movies['title'].isna()].index, inplace=True)

In [46]:
pd.DataFrame({'count': movies.isna().sum(), 'percent': movies.isna().sum()/len(movies)})

              count   percent
id                0  0.000000
title             0  0.000000
overview        808  0.174589
release_date     33  0.007131
popularity       10  0.002161
vote_average     10  0.002161
vote_count       10  0.002161

In [47]:
movies[movies['overview'].isna()]

,id,title,overview,release_date,popularity,vote_average,vote_count
94,1087421,Odio el verano,NaN,2024-08-23,86.451,6.5,2
191,1230477,Given The Movie : Hiiragi Mix,NaN,2024-01-27,37.15,0,0
229,997086,My Next Life as a Villainess: All Routes Lead ...,NaN,2023-12-08,40.545,7.7,5
297,1352344,Anima Kronos,NaN,2024-09-21,15.28,0,0
308,1352843,Olli,NaN,2024-09-22,23.653,0,0
...,...,...,...,...,...,...,...
4666,1360236,Toms romantiska resa,NaN,2024-09-22,1.4,0,0
4671,1360180,Shelpek,NaN,2024-09-23,1.4,0,0
4675,1360101,Der Irland-Krimi: Gnadentod,NaN,2024-09-19,1.4,0,0
4685,1359989,"Jean-Louis Aubert, le chant des possibles",NaN,2024-09-23,1.4,8,1
4686,1359978,Dolors,NaN,2024-09-21,1.4,0,0

In [48]:
movies['overview'].fillna("", inplace=True)

In [49]:
movies.isna().sum()

id               0
title            0
overview         0
release_date    33
popularity      10
vote_average    10
vote_count      10
dtype: int64

## Top Popular Movies

In [52]:
movies.popularity.dtype

dtype('O')

In [56]:
movies.popularity.unique()

array(['4065.642', '1743.127', '1689.252', ..., '0.006', '0.001',
       ' a play of the seen and not seen'], dtype=object)

In [58]:
movies[movies.popularity == ' a play of the seen and not seen'].to_dict()

{'id': {4596: '1244588'},
 'title': {4596: 'Is All Around'},
 'overview': {4596: 'A pictorial sense of space presented through frames'},
 'release_date': {4596: ' an illusion between two-dimensionality and three-dimensionality'},
 'popularity': {4596: ' a play of the seen and not seen'},
 'vote_average': {4596: ' a curiosity to the ‘left out’. Is All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'},
 'vote_count': {4596: '2024-09-21'}}

In [67]:
movies[movies.id =='1244588']['overview']

4596    A pictorial sense of space presented through f...
Name: overview, dtype: object

In [68]:
movies[movies.id =='1244588']['overview'] = '''A pictorial sense of space presented through frames, 
an illusion between two-dimensionality and three-dimensionality, a play of the seen and not seen, a curiosity to the ‘left out’. 
Is All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'''

In [70]:
movies[movies.id =='1244588'].to_dict()

{'id': {4596: '1244588'},
 'title': {4596: 'Is All Around'},
 'overview': {4596: 'A pictorial sense of space presented through frames, \nan illusion between two-dimensionality and three-dimensionality, a play of the seen and not seen, a curiosity to the ‘left out’. \nIs All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'},
 'release_date': {4596: ' an illusion between two-dimensionality and three-dimensionality'},
 'popularity': {4596: ' a play of the seen and not seen'},
 'vote_average': {4596: ' a curiosity to the ‘left out’. Is All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'},
 'vote_count': {4596: '2024-09-21'}}

In [87]:
movies[movies.id =='1244588']['popularity']

4596     a play of the seen and not seen
Name: popularity, dtype: object

In [99]:
print(movies.loc[movies['id'] == '1244588', 'popularity'].values)

[' a play of the seen and not seen']

In [100]:
movies.loc[
    (movies['id'] == '1244588') & (movies['popularity'] == " a play of the seen and not seen"),
    'popularity'
] = np.nan

In [101]:
movies[movies.id =='1244588']

,id,title,overview,release_date,popularity,vote_average,vote_count
4596,1244588,Is All Around,A pictorial sense of space presented through f...,an illusion between two-dimensionality and th...,NaN,a curiosity to the ‘left out’. Is All Around ...,2024-09-21

In [104]:
movies[movies.id =='1244588']['vote_average'].values

array([' a curiosity to the ‘left out’. Is All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'],
      dtype=object)

In [108]:
movies.loc[
    (movies['id'] == '1244588') & (movies['vote_average'] == ''' a curiosity to the ‘left out’. 
    Is All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'''),
    'vote_average'] = np.nan

In [114]:
movies.loc[movies['id'] =='1244588','vote_average'] = np.nan

In [115]:
movies.loc[movies['id'] =='1244588','vote_average']

4596    NaN
Name: vote_average, dtype: object

In [116]:
movies[movies.id =='1244588'].to_dict()

{'id': {4596: '1244588'},
 'title': {4596: 'Is All Around'},
 'overview': {4596: 'A pictorial sense of space presented through frames, \nan illusion between two-dimensionality and three-dimensionality, a play of the seen and not seen, a curiosity to the ‘left out’. \nIs All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'},
 'release_date': {4596: ' an illusion between two-dimensionality and three-dimensionality'},
 'popularity': {4596: nan},
 'vote_average': {4596: nan},
 'vote_count': {4596: '2024-09-21'}}

In [119]:
movies.loc[(movies.id =='1244588'), 'release_date'] = '2024-09-21'

In [122]:
movies.loc[(movies.id =='1244588'), 'vote_count'] = np.nan

In [123]:
movies[movies.id =='1244588'].to_dict()

{'id': {4596: '1244588'},
 'title': {4596: 'Is All Around'},
 'overview': {4596: 'A pictorial sense of space presented through frames, \nan illusion between two-dimensionality and three-dimensionality, a play of the seen and not seen, a curiosity to the ‘left out’. \nIs All Around is an abstract impression of Zoey Benschop’s artistic process while making her 2022 work ‘Raamwerk’.'},
 'release_date': {4596: '2024-09-21'},
 'popularity': {4596: nan},
 'vote_average': {4596: nan},
 'vote_count': {4596: nan}}

In [127]:
movies['popularity'].unique().tolist()

['4065.642',
 '1743.127',
 '1689.252',
 '1434.179',
 '1107.009',
 '1266.199',
 '790.983',
 '782.071',
 '752.785',
 '773.751',
 '814.208',
 '640.237',
 '794.177',
 '768.78',
 '884.199',
 '770.783',
 '660.174',
 '761.713',
 '685.708',
 '541.325',
 '655.268',
 '496.178',
 '546.316',
 '500.909',
 '521.851',
 '548.164',
 '517.109',
 '466.158',
 '537.666',
 '525.65',
 '460.661',
 '466.638',
 '351.64',
 '395.189',
 '444.023',
 '428.462',
 '351.287',
 '344.934',
 '371.659',
 '331.123',
 '322.769',
 '351.12',
 '337.745',
 '254.234',
 '324.17',
 '265.186',
 '275.311',
 '283.379',
 '264.842',
 '292.162',
 '198.343',
 '223.664',
 '188.202',
 '184.341',
 '233.185',
 '185.686',
 '204.963',
 '226.303',
 '181.877',
 '193.644',
 '208.177',
 '190.072',
 '203.382',
 '140.737',
 '201.566',
 '173.788',
 '133.576',
 '182.907',
 '149.984',
 '149.049',
 '124.062',
 '131.119',
 '149.509',
 '126.251',
 '125.831',
 '113.221',
 '156.552',
 '109.352',
 '137.888',
 '108.337',
 '114.309',
 '117.67',
 '127.092',
 '137.91',
 '95.913',
 '133.879',
 '118.058',
 '133.531',
 '85.491',
 '104.783',
 '127.83',
 '100.02',
 '85.218',
 '86.451',
 '79.029',
 '84.329',
 '86.631',
 '74.82',
 '75.244',
 '99.746',
 '99.966',
 '85.684',
 '96.956',
 '73.837',
 '85.875',
 '71.518',
 '64.585',
 '84.828',
 '94.313',
 '87.896',
 '78.626',
 '68.777',
 '79.866',
 '102.364',
 '90.1',
 '76.014',
 '63.531',
 '58.624',
 '94.511',
 '93.516',
 '76.845',
 '63.994',
 '66.073',
 '52.404',
 '60.156',
 '67.236',
 '87.091',
 '87.065',
 '83.409',
 '58.325',
 '79.006',
 '65.393',
 '84.517',
 '72.175',
 '61.435',
 '59.078',
 '68.094',
 '74.3',
 '51.41',
 '60.933',
 '79.097',
 '41.84',
 '78.844',
 '66.93',
 '60.703',
 '63.706',
 '61.258',
 '60.077',
 '47.763',
 '61.144',
 '58.425',
 '70.014',
 '51.188',
 '55.248',
 '43.257',
 '60.66',
 '46.917',
 '52.554',
 '42.405',
 '45.261',
 '45.696',
 '46.286',
 '54.563',
 '53.984',
 '50.411',
 '30.123',
 '54.168',
 '48.355',
 '38.302',
 '36.631',
 '40.743',
 '41.577',
 '40.607',
 '53.974',
 '26.353',
 '34.374',
 '40.403',
 '37.987',
 '32.256',
 '32.073',
 '44.42',
 '41.884',
 '35.716',
 '45.984',
 '38.803',
 '33.554',
 '36.435',
 '38.154',
 '35.678',
 '37.15',
 '23.885',
 '32.149',
 '29.927',
 '36.128',
 '40.763',
 '28.716',
 '30.431',
 '21.136',
 '28.939',
 '48.136',
 '20.683',
 '35.459',
 '42.54',
 '25.747',
 '42.889',
 '30.314',
 '28.876',
 '31.315',
 '29.228',
 '23.23',
 '28.629',
 '32.67',
 '33.186',
 '25.776',
 '31.443',
 '37.802',
 '30.295',
 '27.523',
 '36.664',
 '27.706',
 '30.967',
 '29.91',
 '23.288',
 '36.756',
 '43.141',
 '22.932',
 '40.545',
 '38.11',
 '29.676',
 '32.679',
 '28.265',
 '34.001',
 '30.373',
 '41.336',
 '24.636',
 '29.977',
 '25.912',
 '17.856',
 '21.789',
 '17.333',
 '17.281',
 '32.364',
 '20.048',
 '29.076',
 '18.314',
 '17.235',
 '31.517',
 '26.572',
 '29.261',
 '19.313',
 '35.28',
 '28.528',
 '16.837',
 '26.843',
 '16.81',
 '32.451',
 '28.389',
 '17.27',
 '22.861',
 '16.737',
 '16.553',
 '16.864',
 '26.052',
 '31.839',
 '38.396',
 '23.539',
 '27.385',
 '27.222',
 '22.134',
 '20.573',
 '31.885',
 '16.279',
 '16.158',
 '16.784',
 '26.23',
 '24.033',
 '37.293',
 '27.294',
 '15.788',
 '20.804',
 '27.448',
 '25.848',
 '20.97',
 '23.9',
 '23.639',
 '18.395',
 '19.984',
 '34.673',
 '21.953',
 '27.86',
 '24.135',
 '15.399',
 '27.466',
 '25.93',
 '15.28',
 '28.507',
 '24.159',
 '26.483',
 '16.055',
 '15.145',
 '28.461',
 '24.212',
 '35.025',
 '14.998',
 '22.88',
 '23.653',
 '29.495',
 '17.799',
 '26.721',
 '27.714',
 '15.648',
 '24.919',
 '23.126',
 '33.989',
 '14.491',
 '16.801',
 '21.488',
 '31.348',
 '33.718',
 '14.388',
 '19.146',
 '20.336',
 '23.062',
 '14.268',
 '14.213',
 '14.647',
 '14.812',
 '14.158',
 '22.981',
 '22.395',
 '25.433',
 '26.545',
 '26.91',
 '22.939',
 '24.651',
 '23.14',
 '23.121',
 '16.749',
 '20.735',
 '32.089',
 '13.706',
 '31.927',
 '18.485',
 '25.42',
 '13.609',
 '22.562',
 '22.716',
 '30.196',
 '22.816',
 '26.862',
 '13.414',
 '23.256',
 '20.167',
 '13.351',
 '19.697',
 '16.838',
 '22.784',
 '15.846',
 '22.453',
 '13.247',
 '14.853',
 '21.225',
 '22.958',
 '24.14',
 '25.292',
 '23.709',
 '19.248',
 '22.404',
 '22.402',
 '22.898',
 '22.893',
 '22.392',
 '21.431',
 '22.389',
 '23.136',
 '22.413',
 '17.792',
 '22.4',
 '29.925',
 '13.795',
 '23.187',
 '19.619',
 '12.894',
 '19.403',
 '22.153',
 '28.93',
 '16.865',
 '16.358',
 '16.614',
 '17.325',
 '13.378',
 '27.967',
 '17.919',
 '14.678',
 '19.231',
 '12.107',
 '14.364',
 '15.388',
 '21.868',
 '20.936',
 '17.712',
 '27.63',
 '15.35',
 '18.575',
 '11.77',
 '18.798',
 '18.507',
 '17.385',
 '21.223',
 '26.949',
 '11.485',
 '20.925',
 '12.247',
 '13.655',
 '26.354',
 '22.679',
 '26.191',
 '16.344',
 '26.181',
 '19.843',
 '26.131',
 '17.91',
 '12.524',
 '21.405',
 '25.12',
 '25.915',
 '14.476',
 '14.175',
 '18.701',
 '11.53',
 '12.362',
 '14.31',
 '25.682',
 '25.465',
 '25.329',
 '10.826',
 '11.219',
 '24.956',
 '17.175',
 '19.605',
 '10.672',
 '24.804',
 '16.554',
 '10.621',
 '24.584',
 '18.571',
 '10.364',
 '16.593',
 '16.596',
 '13.256',
 '20.565',
 '19.047',
 '23.902',
 '16.859',
 '17.506',
 '18.873',
 '17.138',
 '10.193',
 '15.312',
 '16.099',
 '11.09',
 '23.541',
 '14.089',
 '12.328',
 '15.085',
 '11.786',
 '9.984',
 '23.289',
 '20.784',
 '9.969',
 '23.226',
 '11.576',
 '16.934',
 '15.043',
 '13.419',
 '13.91',
 '23.048',
 '15.853',
 '23.006',
 '16.936',
 '9.995',
 '22.823',
 '9.776',
 '10.023',
 '22.712',
 '19.302',
 '20.297',
 '22.646',
 '21.731',
 '14.073',
 '11.999',
 '16.735',
 '18.659',
 '16.407',
 '11.952',
 '18.19',
 '11.94',
 '9.922',
 '9.504',
 '10.029',
 '9.914',
 '22.04',
 '12.85',
 '10.185',
 '12.141',
 '20.132',
 '13.598',
 '9.377',
 '17.344',
 '9.347',
 '9.338',
 '9.627',
 '9.326',
 '21.757',
 '14.849',
 '20.189',
 '14.534',
 '9.277',
 '19.756',
 '10.896',
 '13.521',
 '10.395',
 '21.384',
 '9.159',
 '21.326',
 '9.137',
 '17.785',
 '10.63',
 '9.827',
 '14.776',
 '21.231',
 '9.088',
 '21.189',
 '11.612',
 '13.294',
 '21.099',
 '21.004',
 '12.33',
 '18.624',
 '9.031',
 '20.173',
 '20.798',
 '9.263',
 '20.768',
 '14.198',
 '11.058',
 '18.12',
 '20.699',
 '20.664',
 '9.007',
 '8.845',
 '11.253',
 '20.572',
 '17.841',
 '13.697',
 '16.194',
 '9.224',
 '8.732',
 '8.764',
 '8.709',
 '15.457',
 '8.705',
 '12.604',
 '10.356',
 '8.635',
 '11.831',
 '9.408',
 '18.694',
 '17.16',
 '11.738',
 '8.672',
 '9.682',
 '9.417',
 '12.376',
 '8.912',
 '19.818',
 '13.62',
 '8.905',
 '8.451',
 '9.457',
 '14.81',
 '13.857',
 '12.706',
 '8.587',
 '8.622',
 '8.872',
 '15.891',
 '14.192',
 '16.186',
 '10.762',
 '16.679',
 '11.68',
 '8.61',
 '8.86',
 '9.115',
 '8.851',
 '16.781',
 '11.413',
 '8.592',
 '8.839',
 '8.838',
 '8.875',
 '9.794',
 '10.422',
 '12.883',
 '19.043',
 '16.831',
 '19.037',
 '11.829',
 '11.3',
 '18.956',
 '15.721',
 '8.565',
 '8.563',
 '9.813',
 '8.808',
 '8.558',
 '11.949',
 '8.547',
 '15.202',
 '15.505',
 '10.76',
 '14.99',
 '13.789',
 '15.517',
 '12.309',
 '14.195',
 '18.418',
 '8.973',
 '14.221',
 '10.652',
 '7.959',
 '8.934',
 '18.253',
 '11.44',
 '12.574',
 '7.808',
 '12.609',
 '10.977',
 '8.136',
 '10.291',
 '10.175',
 '18.087',
 '18.084',
 '10.176',
 '11.876',
 '13.639',
 '12.406',
 '13.65',
 '10.473',
 '9.997',
 '8.471',
 '14.131',
 '10.612',
 '11.158',
 '7.597',
 '17.661',
 '10.889',
 '17.612',
 '7.511',
 '8.807',
 '8.682',
 '9.631',
 '9.331',
 '17.234',
 '10.984',
 '7.333',
 '9.832',
 '14.811',
 '10.368',
 '8.816',
 '8.766',
 '16.46',
 '7.247',
 '10.812',
 '8.342',
 '16.842',
 '10.982',
 '12.001',
 '16.747',
 '13.572',
 '10.714',
 '16.695',
 '8.467',
 '11.019',
 '10.833',
 '7.865',
 '10.232',
 '8.96',
 '10.841',
 '16.534',
 '10.415',
 '14.025',
 '10.62',
 '16.412',
 '13.008',
 '15.243',
 '9.707',
 '8.885',
 '8.233',
 '6.925',
 '9.183',
 '8.428',
 '9.405',
 '10.302',
 '16.086',
 '9.388',
 '9.958',
 '8.45',
 '6.869',
 '16.019',
 '15.973',
 '15.957',
 '9.579',
 '11.726',
 '10.187',
 '9.23',
 '12.713',
 '15.876',
 '11.277',
 '13.045',
 '14.207',
 '12.027',
 '15.725',
 '6.724',
 '8.859',
 '11.951',
 '13.192',
 '11.014',
 '15.597',
 '7.55',
 '9.929',
 '15.578',
 '8.856',
 '8.206',
 '15.547',
 '6.654',
 '10.964',
 '12.084',
 '15.504',
 '11.378',
 '10.708',
 '10.555',
 '8.212',
 '8.078',
 '7.051',
 '12.985',
 '11.429',
 '10.329',
 '12.181',
 '12.893',
 '8.039',
 '15.014',
 '12.17',
 '7.787',
 '9.294',
 '14.251',
 '8.028',
 '9.811',
 '9.617',
 '11.795',
 '12.045',
 '14.76',
 '8.367',
 '12.374',
 '6.309',
 '13.32',
 '12.75',
 '14.124',
 '6.823',
 '8.559',
 '12.961',
 '10.731',
 '12.242',
 '8.752',
 '9.465',
 '11.119',
 '8.51',
 '12.759',
 '10.993',
 '6.155',
 '6.373',
 '7.69',
 '7.301',
 '7.199',
 '9.536',
 '6.06',
 '7.985',
 '6.685',
 '14.07',
 '10.728',
 '7.198',
 '10.987',
 '6.699',
 '12.194',
 '6.345',
 '13.515',
 '11.755',
 '8.988',
 '5.947',
 '13.873',
 '9.824',
 '6.903',
 '7.947',
 '11.012',
 '12.678',
 '10.578',
 '11.169',
 '13.695',
 '6.892',
 '7.481',
 '7.817',
 '13.463',
 '11.982',
 '6.634',
 '11.735',
 '8.633',
 '10.031',
 '11.594',
 '12.095',
 '5.781',
 '6.622',
 '8.291',
 '6.635',
 '5.766',
 '13.141',
 '13.416',
 '8.447',
 '9.885',
 '13.363',
 '6.853',
 '6.725',
 '7.661',
 '13.283',
 '10.573',
 '8.496',
 '12.354',
 '6.848',
 '7.089',
 '11.394',
 '7.867',
 '6.834',
 '6.865',
 '7.423',
 '7.272',
 '8.609',
 '6.58',
 '6.829',
 '7.585',
 '7.648',
 '7.995',
 '5.594',
 '7.524',
 '7.177',
 '5.555',
 '7.063',
 '9.024',
 '7.306',
 '9.299',
 '7.055',
 '11.064',
 '8.232',
 '6.55',
 '9.57',
 '6.796',
 '9.41',
 '5.858',
 '11.293',
 '11.573',
 '5.456',
 '8.564',
 '10.476',
 '12.671',
 '6.413',
 '6.777',
 '5.389',
 '6.775',
 '5.385',
 '9.78',
 '5.38',
 '7.52',
 '5.988',
 '7.723',
 '12.509',
 '5.363',
 '9.796',
 '9.869',
 '5.878',
 '6.642',
 '5.317',
 '7.932',
 '6.608',
 '8.4',
 '11.855',
 '6.062',
 '12.293',
 '6.53',
 '11.599',
 '9.368',
 '7.24',
 '8.539',
 '6.689',
 '11.794',
 '6.527',
 '6.245',
 '6.229',
 '9.854',
 '5.128',
 '8.8',
 '11.92',
 '5.083',
 '11.837',
 '7.701',
 '5.493',
 '7.56',
 '6.698',
 nan,
 '6.126',
 '5.561',
 '5.796',
 '4.996',
 '9.499',
 '4.991',
 '5.983',
 '5.836',
 '11.628',
 '9.09',
 '5.632',
 '4.985',
 '7.531',
 '4.927',
 '4.905',
 '6.281',
 '5.275',
 '4.957',
 '8.132',
 '7.014',
 '5.024',
 '8.649',
 '5.513',
 '6.479',
 '6.283',
 '4.815',
 '5.657',
 '4.968',
 '8.394',
 '4.787',
 '11.157',
 '6.35',
 '6.196',
 '6.833',
 '4.727',
 '4.72',
 '6.661',
 '4.937',
 '5.254',
 '6.934',
 '6.422',
 '7.274',
 '6.118',
 '5.191',
 '4.645',
 '6.516',
 '8.91',
 '4.637',
 '4.633',
 '10.787',
 '5.635',
 '5.484',
 '5.403',
 '5.603',
 '4.6',
 '5.206',
 '7.324',
 '5.355',
 '8.536',
 '7.344',
 '5.347',
 '8.247',
 '5.499',
 '8.286',
 '5.901',
 '7.057',
 '6.384',
 '7.129',
 '4.623',
 '4.536',
 '10.166',
 '10.543',
 '7.666',
 '7.916',
 '9.166',
 '9.416',
 '8.084',
 '5.336',
 '5.863',
 '5.365',
 '6.637',
 '7.083',
 '4.446',
 ...]

In [128]:
movies[movies['popularity'] == '2024-09-18']

,id,title,overview,release_date,popularity,vote_average,vote_count
1081,1325425,Home Free,Three estranged adult sisters return home for ...,his final wish to have one last perfect weeke...,2024-09-18,5.976,0

In [129]:
movies[movies['id'] == '1325425'].to_dict()

{'id': {1081: '1325425'},
 'title': {1081: 'Home Free'},
 'overview': {1081: 'Three estranged adult sisters return home for their parents anniversary to learn their father is dying'},
 'release_date': {1081: ' his final wish to have one last perfect weekend sends everyone into a whirlwind of buried family secrets and conflict.'},
 'popularity': {1081: '2024-09-18'},
 'vote_average': {1081: '5.976'},
 'vote_count': {1081: '0'}}

In [130]:
movies.loc[movies['id'] == '1325425', 'overview'] = '''Three estranged adult sisters return home for their 
parents anniversary to learn their father is dying, his final wish to have one last perfect weekend sends 
everyone into a whirlwind of buried family secrets and conflict.'''

In [135]:
movies.loc[movies['id'] == '1325425', 'release_date'] = '2024-09-18'

In [136]:
movies.loc[movies['id'] == '1325425', 'popularity'] = np.nan

In [137]:
movies[movies['id'] == '1325425'].to_dict()

{'id': {1081: '1325425'},
 'title': {1081: 'Home Free'},
 'overview': {1081: 'Three estranged adult sisters return home for their \nparents anniversary to learn their father is dying, his final wish to have one last perfect weekend sends \neveryone into a whirlwind of buried family secrets and conflict.'},
 'release_date': {1081: '2024-09-18'},
 'popularity': {1081: nan},
 'vote_average': {1081: '5.976'},
 'vote_count': {1081: '0'}}

In [144]:
movies[movies['popularity'] == '2024-09-09']

,id,title,overview,release_date,popularity,vote_average,vote_count
1558,1354818,Several Successful Situations,Simultaneous & Successive,"I enjoy religion, I appreciate belief systems ...",2024-09-09,4.515,0
1561,1354818,Several Successful Situations,Simultaneous & Successive,"I enjoy religion, I appreciate belief systems ...",2024-09-09,3.098,0

In [140]:
movies[movies['popularity'] == '2024-09-09'].to_dict()

{'id': {1558: '1354818', 1561: '1354818'},
 'title': {1558: 'Several Successful Situations',
  1561: 'Several Successful Situations'},
 'overview': {1558: ' Simultaneous & Successive',
  1561: ' Simultaneous & Successive'},
 'release_date': {1558: "I enjoy religion, I appreciate belief systems and how they offer structure to people's lives. I also appreciate how spirituality manifests itself in Asian cultures as this almost earthbound presence guiding people through every day life and when they need an extra bit of help they need only ask whichever deity holds dominion over their desire.  Here is an experimental film I made with videos from my iPhone. Shot across Taiwan and South Korea.  An experimental film I made with videos from my iPhone. Shot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, the satisfaction of small moments, spirituality, superstition, and daily rituals.",
  1561: "I enjoy religion, I appreciate belief systems and how they offer structure to people's lives. I also appreciate how spirituality manifests itself in Asian cultures as this almost earthbound presence guiding people through every day life and when they need an extra bit of help they need only ask whichever deity holds dominion over their desire.  Here is an experimental film I made with videos from my iPhone. Shot across Taiwan and South Korea.  An experimental film I made with videos from my iPhone. Shot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, the satisfaction of small moments, spirituality, superstition, and daily rituals."},
 'popularity': {1558: '2024-09-09', 1561: '2024-09-09'},
 'vote_average': {1558: '4.515', 1561: '3.098'},
 'vote_count': {1558: '0', 1561: '0'}}

In [150]:
movies.drop(1561, inplace=True)

In [151]:
movies[movies['popularity'] == '2024-09-09']

,id,title,overview,release_date,popularity,vote_average,vote_count
1558,1354818,Several Successful Situations,Simultaneous & Successive,"I enjoy religion, I appreciate belief systems ...",2024-09-09,4.515,0

In [154]:
movies[movies['id'] == '1354818'].to_dict()

{'id': {1558: '1354818'},
 'title': {1558: 'Several Successful Situations'},
 'overview': {1558: ' Simultaneous & Successive'},
 'release_date': {1558: "I enjoy religion, I appreciate belief systems and how they offer structure to people's lives. I also appreciate how spirituality manifests itself in Asian cultures as this almost earthbound presence guiding people through every day life and when they need an extra bit of help they need only ask whichever deity holds dominion over their desire.  Here is an experimental film I made with videos from my iPhone. Shot across Taiwan and South Korea.  An experimental film I made with videos from my iPhone. Shot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, the satisfaction of small moments, spirituality, superstition, and daily rituals."},
 'popularity': {1558: '2024-09-09'},
 'vote_average': {1558: '4.515'},
 'vote_count': {1558: '0'}}

In [159]:
movies.loc[1558, 'overview'] = '''Simultaneous & Successive. An experimental film I made with videos from my iPhone. 
Shot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, 
the satisfaction of small moments, spirituality, superstition, and daily rituals.'''

In [163]:
movies.loc[1558, 'release_date'] = '2024-09-09'
movies.loc[1558, 'popularity'] = np.nan

In [164]:
movies[movies['id'] == '1354818'].to_dict()

{'id': {1558: '1354818'},
 'title': {1558: 'Several Successful Situations'},
 'overview': {1558: 'Simultaneous & Successive. An experimental film I made with videos from my iPhone. \nShot across Taiwan and Korea. My aim was to explore success in how it pertains to every day life, \nthe satisfaction of small moments, spirituality, superstition, and daily rituals.'},
 'release_date': {1558: '2024-09-09'},
 'popularity': {1558: nan},
 'vote_average': {1558: '4.515'},
 'vote_count': {1558: '0'}}

In [172]:
movies[movies['popularity']== '2024-08-29'].to_dict()

{'id': {1793: '749116'},
 'title': {1793: 'Cidade'},
 'overview': {1793: ' Campo'},
 'release_date': {1793: 'Two tales of migration. In the first,\u202fafter a tailings dam disaster floods her hometown, rural worker Joana (55) moves to São Paulo\u202fto find her sister Tania, who lives with her grandson Jaime. Joana enters the universe of insecurity, replying to an application for house cleaning. She bonds with her colleagues, and their struggle for better conditions gives Joana’s life a new meaning. Her relationship with young Jaime brings back old memories. In the second part, after the death of her estranged father, Flavia (32) moves to her farm with her wife Mara. The couple suffer a shock of reality when facing the harshness of rural life. The contact with the abandoned house reveals to Flavia unknown aspects of her father. She begins to suspect that there is something supernatural in the woods.'},
 'popularity': {1793: '2024-08-29'},
 'vote_average': {1793: '3.913'},
 'vote_count': {1793: '7'}}

In [174]:
movies.loc[1793, 'title'] = 'Cidade; Campo'

In [175]:
movies.loc[1793, 'overview'] = '''Two stories of migration, memories and ghosts. After a disaster floods her land, Joana flees to São Paulo and tries to start her life over again. Meanwhile, after her father's death, Flavia moves to his farm with her wife Mara.'''

In [176]:
movies.loc[1793, 'popularity'] = np.nan
movies.loc[1793, 'release_date'] = '2024-08-29'

In [178]:
movies.loc[1793].to_dict()

{'id': '749116',
 'title': 'Cidade; Campo',
 'overview': "Two stories of migration, memories and ghosts. After a disaster floods her land, Joana flees to São Paulo and tries to start her life over again. Meanwhile, after her father's death, Flavia moves to his farm with her wife Mara.",
 'release_date': '2024-08-29',
 'popularity': nan,
 'vote_average': '3.913',
 'vote_count': '7'}

In [193]:
def is_date(value):
    try:
        pd.to_datetime(value, errors='raise')  # Try to parse as a date
        return True
    except:
        return False

In [195]:
date_mask = movies['popularity'].apply(is_date)

In [198]:
movies[date_mask]['popularity']

932            NaN
933            NaN
1081           NaN
1558           NaN
1793           NaN
2073    2024-09-15
2114           NaN
2115           NaN
2458    2024-09-11
2459           NaN
2464           NaN
2654    2024-08-21
2937    2024-09-10
3372           NaN
3374           NaN
3881    2022-11-05
4326           NaN
4329           NaN
4428    2024-08-16
4596           NaN
Name: popularity, dtype: object

In [201]:
movies[movies['popularity']== '2024-09-15'].to_dict()

{'id': {2073: '1357084'},
 'title': {2073: 'Taxi Diary'},
 'overview': {2073: 'A diary entry'},
 'release_date': {2073: ' a moment of introspection while transitioning from one environment to the next.'},
 'popularity': {2073: '2024-09-15'},
 'vote_average': {2073: '2.993'},
 'vote_count': {2073: '0'}}

In [203]:
# The movie is not found in internet. There is a similar movie title Taxi Driver which is from 1976 or so and 
# definitely not from 2024. Thus deleting this one.

movies.drop(2703, inplace=True)

In [204]:
movies[movies['popularity']=='2024-09-11'].to_dict()

{'id': {2458: '1337726'},
 'title': {2458: 'Chileans of the North'},
 'overview': {2458: 'The story of the Chilean refugees who came to Sheffield and Rotherham in the 1970s'},
 'release_date': {2458: ' why they came and what had happened in Chile.'},
 'popularity': {2458: '2024-09-11'},
 'vote_average': {2458: '2.077'},
 'vote_count': {2458: '0'}}

In [206]:
movies.loc[2458, 'overview'] = 'The story of the Chilean refugees who came to Sheffield and Rotherham in the 1970s, why they came and what had happened in Chile.'

In [209]:
movies.loc[2458, 'popularity'] = np.nan
movies.loc[2458, 'release_date'] = '2024-09-11'

In [211]:
movies[movies['popularity']== '2024-08-21'].to_dict()

{'id': {2654: '1324764'},
 'title': {2654: 'Конец фильма'},
 'overview': {2654: 'Slava and Katya come to the forest for a picnic. This is an important day for Slava'},
 'release_date': {2654: ' he proposes marriage to Katya. But this fabulous walk will have an unexpected ending.'},
 'popularity': {2654: '2024-08-21'},
 'vote_average': {2654: '1.55'},
 'vote_count': {2654: '0'}}

In [212]:
movies.loc[2654, 'title'] = 'End of the Film (Конец фильма)'
movies.loc[2654, 'overview'] = 'Slava and Katya come to the forest for a picnic. This is an important day for Slava; he proposes marriage to Katya. But this fabulous walk will have an unexpected ending.'
movies.loc[2654, 'popularity'] = np.nan
movies.loc[2654, 'release_date'] = '2024-08-21'

In [213]:
movies.loc[2654]

id                                                        1324764
title                              End of the Film (Конец фильма)
overview        Slava and Katya come to the forest for a picni...
release_date                                           2024-08-21
popularity                                                    NaN
vote_average                                                 1.55
vote_count                                                      0
Name: 2654, dtype: object

In [214]:
movies[movies['popularity']== '2024-09-10'].to_dict()

{'id': {2937: '1358591'},
 'title': {2937: '2 Super 2 Bad'},
 'overview': {2937: 'Young Sophomore Fogell is forced to spend his school day without his phone when he discovers the best thing in the world'},
 'release_date': {2937: ' BEER.'},
 'popularity': {2937: '2024-09-10'},
 'vote_average': {2937: '2.109'},
 'vote_count': {2937: '0'}}

In [215]:
movies.loc[2937, 'overview'] = 'Young Sophomore Fogell is forced to spend his school day without his phone when he discovers the best thing in the world; BEER.'
movies.loc[2937, 'popularity'] = np.nan
movies.loc[2937, 'release_date'] = '2024-09-10'

In [216]:
movies.loc[2937]

id                                                        1358591
title                                               2 Super 2 Bad
overview        Young Sophomore Fogell is forced to spend his ...
release_date                                           2024-09-10
popularity                                                    NaN
vote_average                                                2.109
vote_count                                                      0
Name: 2937, dtype: object

In [219]:
movies[movies.popularity=='2022-11-05'].to_dict()

{'id': {3881: '993558'},
 'title': {3881: 'Smalltown Boys'},
 'overview': {3881: 'A young man seems to be dreaming of a reality different from the business he is about to take over and the married life that goes with it'},
 'release_date': {3881: ' he is drawn to the spicy life of a queer vaudeville troupe performing in his village.'},
 'popularity': {3881: '2022-11-05'},
 'vote_average': {3881: '0.815'},
 'vote_count': {3881: '5'}}

In [223]:
movies.loc[3881, 'overview'] = 'A young man appears to be imagining a world distinct from the business he is set to take control of and the married life that comes with it. He gets attracted to the vibrant life of a queer vaudeville troupe performing in his village.'
movies.loc[3881, 'popularity'] = np.nan
movies.loc[3881, 'release_date'] = '2022-11-05'

In [225]:
movies[movies.popularity == '2024-08-16'].to_dict()

{'id': {4428: '1327929'},
 'title': {4428: 'demarcations'},
 'overview': {4428: ' you have black eyes (cheshmeh siya daree)'},
 'release_date': {4428: 'Drawing its title from a song by Afghan singer Ahmad Zahir, "you have black eyes" is a stream-of-consciousness montage depicting collective bodies in a constant state of disruption, movement, processing, and grieving. It celebrates the body as a historical, domestic site of resistance through dance and movement including found footage of ants carrying flowers, rubab player Ustad Beltoon interrupted, and Hazara throat singing across an imaginary landscape.'},
 'popularity': {4428: '2024-08-16'},
 'vote_average': {4428: '0.948'},
 'vote_count': {4428: '0'}}

In [226]:
movies.loc[4428, 'title'] = 'demarcations; you have black eyes (cheshmeh siya daree)'
movies.loc[4428, 'popularity'] = np.nan
movies.loc[4428, 'release_date'] = '2024-08-16'
movies.loc[4428, 'overview'] = 'Drawing its title from a song by Afghan singer Ahmad Zahir, "you have black eyes" is a stream-of-consciousness montage depicting collective bodies in a constant state of disruption, movement, processing, and grieving. It celebrates the body as a historical, domestic site of resistance through dance and movement including found footage of ants carrying flowers, rubab player Ustad Beltoon interrupted, and Hazara throat singing across an imaginary landscape.'

In [228]:
movies[movies.popularity == '2024-09-15']

,id,title,overview,release_date,popularity,vote_average,vote_count
2073,1357084,Taxi Diary,A diary entry,a moment of introspection while transitioning...,2024-09-15,2.993,0

In [229]:
movies.drop(2073, inplace=True)

In [230]:
movies['popularity'] = movies['popularity'].astype('float')

In [231]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4625 entries, 0 to 4703
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4625 non-null   object
 1   title         4625 non-null   object
 2   overview      4625 non-null   object
 3   release_date  4592 non-null   object
 4   popularity    4606 non-null   float64
 5   vote_average  4614 non-null   object
 6   vote_count    4614 non-null   object
dtypes: float64(1), object(6)
memory usage: 289.1+ KB

In [234]:
movies['vote_average'].fillna(0, inplace=True)
movies['vote_count'].fillna(0, inplace=True)
movies['vote_average'] = movies['vote_average'].astype('float')
movies['vote_count'] = movies['vote_count'].astype('int')

In [235]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4625 entries, 0 to 4703
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            4625 non-null   object
 1   title         4625 non-null   object
 2   overview      4625 non-null   object
 3   release_date  4592 non-null   object
 4   popularity    4606 non-null   float64
 5   vote_average  4625 non-null   float64
 6   vote_count    4625 non-null   int32
dtypes: float64(2), int32(1), object(4)
memory usage: 271.0+ KB

In [236]:
# movies.to_csv('cleaned_latest_movies.csv')